#edit-group-container, #new-group-container {
  @include base-container();
  height: 100%;
  #edit-group, #new-group {
    @include base-content();
    @include base-form();
    padding: 0;
    height: 100%;

    .back-btn {
      padding: 20px 0;
    }

    h1 {
      color: $blue-300;
      font-weight: 400;
      font-size: 40px;
      margin: 0 0 20px 0;
    }
    form {
      padding: 50px;
      margin: 0 0 50px 0;

      .control-group {
        margin: 0 0 30px 0;
        padding: 0;

        label {
          display: block;
          float: none;
          margin: 0 0 10px 0;
          padding: 0;
          width: 100%;
          font-size: 20px;
          color: $grey-300;
          &:after {
            content: none;
          }
        }

        .controls {
          display: block;
          margin: 0;
          &.editor {
            textarea {
              @include border-radius(4px);
              border: solid 1px $grey-200;
            }
            .editor-info-block {
              display: none;
            }
          }
        }
        .missing-field {
          margin-top: 5px;
          color: $red-300;
        }
      }

      .form-actions {
        text-align: center;
        padding: 50px 0 0 0;
        margin: 0;
        border: none;
      }

      .slug-preview {
        margin: 10px 0 0 0;
        .btn-mini {
          background: none;
          display: inline;
          padding: 0;
          color: $blue-300;
          border: none;
          box-shadow: none;
        }
      }

      .add-on {
        height: 40px;
        line-height: 2;
      }

      #field-url {
        height: 40px;
      }

      .btn-remove-url {
        top: 9px;
      }

      .img-title {
        font-size: 20px;
        color: $grey-300;
      }

      .img-description {
        margin: 0;
      }

      .image-upload {
        .icon-cloud-upload, .icon-globe {
          display: none;
        }
        input[type="file"] {
          height: 100%;
          cursor: pointer
        }
        a.btn {
          margin-left: 0;
          text-transform: uppercase;
          padding: 12px;
          cursor: pointer;
        }
        a.btn-remove-url {
          padding: 0 4px;
        }
        a.hover {
          color: white;
          cursor: pointer;
        }
      }

      button {
        padding: 12px;
      }
    }

    #delete-modal {
      .modal-content {
        @include box-shadow(none);
      }
      .modal-body {
        padding: 50px;
      }
      form {
        padding: 0;
        margin: 0;
        box-shadow: none;
      }
    }
  }
}

#group-imgs-modal.modal {
  .modal-content {
    @include box-shadow(none);
  }
  .modal-body {
    max-height: inherit;
    padding: 50px;
    label:after {
      content: none;
    }
    p {
      margin-bottom: 30px;
    }
    .radio-container {
      margin-bottom: 30px;

      .radio-box {
        h2 {
          font-size: 22px;
        }
        @include border-radius(4px);
        border: solid 2px $grey-100;
        &.selected, &:hover {
          border-color: $blue-300;
          .radio-description {
            background-color: $blue-300;
            color: white;
          }
        }
        &.not-selected {
          opacity: 0.75;
          &:hover {
            opacity: 1;
          }
        }
      }
      label.img-radio {
        text-align: center;
        font-weight: 400;
        margin: 0 0 10px 0;
        input {
          position: absolute;
          left: -9999px;
          top: -9999px;
        }
        .radio-description {
          padding: 10px;
        }
      }
    }
    button {
      padding: 12px;
    }
  }
}