<div class="featured-groups container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        {% set dataset_url = h.url_for(controller='package', action='search') %}

        {%- for group in c.groups -%}
            <div class="group-container col-xs-12 col-sm-4 col-lg-2 invisible">
                {% if h.check_access('group_update', {'id': c.group_dict.id}) %}
                    <a href="{{ h.url_for(controller='group', action='edit', id=group.name) }}">
                        <div class="edit-container">
                            {% snippet "svg/edit.svg" %}
                        </div>
                    </a>
                {% endif %}
                {% set group_class = 'active' if group.package_count > 0 else 'inactive' %}
                {% if group.package_count > 0 %}
                    <a href="{{ h.add_url_param(new_params={'groups': group.name}, alternative_url=dataset_url) }}">
                {% endif %}
                <div class="group {{ group_class }}">
                    <div class="group-text">
                        <img src="{{ group.image_display_url }}" data-replace="svg">

                        <div class="group-table">
                            <div class="group-cell">
                                {{ group.display_name }}
                            </div>
                        </div>
                    </div>
                </div>
                {% if group.package_count > 0 %}
                    </a>
                {% endif %}
            </div>{%- endfor -%}
    </div>
</div>

{% resource 'gobar_js/home/groups.js' %}
