<div class="featured-groups container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        {%- if h.check_access('group_create') -%}
            <div class="col-xs-12 create-group">
                {% link_for _('Add Group'), controller='group', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
            </div>
        {%- endif -%}

        {%- for group in c.groups -%}
            <div class="group-container col-xs-12 col-sm-4 col-lg-2 invisible">
                <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
                    <div class="group">
                        <div class="group-text">
                            <img src="{{ group.image_display_url }}">
                            <div class="group-table">
                                <div class="group-cell">
                                    {{ group.display_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>{%- endfor -%}
    </div>
</div>

{% resource 'gobar_js/home/groups.js' %}
