{% extends "gobar_page.html" %}

{% block content %}
  <div class="home">
    {% set title_template = h.get_theme_config('home.title-template') %}
    {% if title_template == 'portada1' %}
        {% snippet "home/title_1.html" %}
    {% elif title_template == 'portada2' %}
        {% snippet "home/title_2.html" %}
    {% elif title_template == 'portada3' %}
        {% snippet "home/title_3.html" %}
    {% else %}
        {% snippet "home/title_4.html" %}
    {% endif %}
    {% snippet "home/create_buttons.html" %}
    {% snippet "home/groups.html" %}
    {% snippet "home/featured_content.html" %}
  </div>
{% endblock %}