{% set stats = h.get_site_statistics() %}
{% set config = h.template_config() %}

<div id="title" class="container-fluid">
    <div class="background-overlay no-padding-bottom">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <div id="title-container" class="col-xs-12 text-center">
                    <h1>{{ config['home_title'] }}</h1>
                    <p class="description">{{ config['home_description'] }}</p>
                </div>
                <div id="searcher" class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-offset-3 col-lg-6 no-padding">
                    <form class="module-content search-form" method="get"
                          action="{% url_for controller='package', action='search' %}">
                        <input type="text" class="search" name="q" value="" autocomplete="off"
                               placeholder="Buscar Dataset"/>
                        <button type="submit">
                            <img src="/img/search.svg" class="search-icon">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="stats-overlay">
            <div class="restricted-max-width">
                <div id="stats" class="hidden-xs col-sm-12 text-center">
                    <div class="single-stat">
                        <p class="stat">{{ "%03d" % stats.dataset_count }}</p>

                        <p class="stats-legend datasets">DATASETS</p>
                    </div>
                    <div class="single-stat">
                        <p class="stat organizations">{{ "%03d" % h.organizations_with_packages() }}</p>

                        <p class="stats-legend">ORGANIZACIONES</p>
                    </div>
                    <div class="single-stat">
                        <p class="stat organizations">{{ "%03d" % stats.group_count }}</p>

                        <p class="stats-legend">GRUPOS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
