{% set stats = h.get_site_statistics() %}

{% set background = h.get_theme_config('title.background-image') %}
<div id="title" class="container-fluid" style="{{ 'background-image:url("%s")' % background if background else '' }}">
    {% snippet "home/title_config.html" %}
    <div class="background-overlay">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <div id="title-container" class="col-xs-12 text-center">
                    {% set title = h.get_theme_config('title.site-title') %}
                    <h1>{{ title if title else '' }}</h1>
                    <p class="description">
                        {% set description = h.get_theme_config('title.site-description') %}
                        {{ description if description else '' }}
                        {% if h.check_access('package_create') %}
                            <a class="edit-description-link" href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_title') }}">
                                {% snippet "svg/edit.svg" %}
                            </a>
                        {% endif %}
                    </p>
                </div>
                <div id="searcher" class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-offset-3 col-lg-6 no-padding">
                    <form class="module-content search-form" method="get"
                          action="{% url_for controller='package', action='search' %}">
                        <input type="text" class="search" name="q" value="" autocomplete="off"
                               placeholder="¿Qué dataset buscás?"/>
                        <button type="submit">
                            <img src="/img/search.svg" class="search-icon">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
