{% extends "gobar_page.html" %}

{% block content %}

    {% snippet "organization/title.html" %}

    <div class="organization-container container-fluid">
        <div class="organization col-xs-12 col-md-10 col-md-offset-1">
            {% if h.check_access('organization_create') %}
                <div class="add-organization">
                    {% link_for _('Add Organization'), controller='organization', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
                </div>
            {% endif %}
            <ul>
                {% set organizations_tree = h.get_action('group_tree', {'type': 'organization'}) %}
                {% set dataset_url = h.url_for(controller='package', action='search') %}
                {% for node in organizations_tree recursive %}
                    <li id="node_{{ node.name }}">
                        <!-- TODO: solo linkear las organizaciones que tienen datasets -->
                        <a href="{{ h.add_url_param(new_params={'organization': node.name}, alternative_url=dataset_url) }}">{{ node.title }}</a>
                        {% if node.children %}
                            <ul> {{ loop(node.children) }} </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}