{% set stats = h.get_site_statistics() %}
{% set config = h.template_config() %}

<div id="title" class="organization-title container-fluid">
    <div class="background-overlay">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div id="title-container" class="col-xs-12 col-md-6 text-left">
                    <h1>Organizaciones</h1>

                    <p class="description">{{ config['organization_description'] }}</p>
                </div>
                <div id="stats" class="col-xs-12 col-md-4 col-md-offset-2">
                    <div>
                        <p class="stat organizations">{{ "%03d" % h.organizations_with_packages() }}</p>

                        <p class="stats-legend">ORGANIZACIONES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
