{% set stats = h.get_site_statistics() %}

<div id="title" class="organization-title container-fluid">
    <div class="restricted-max-width">
        {% snippet "title_background.html" %}
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div id="title-container" class="col-xs-12 col-md-8">
                <h1>Organizaciones con datasets</h1>

                <p class="description">
                    Mirá los Ministerios, Secretarías y Organizaciones dependientes del Poder Ejecutivo Nacional que ya
                    abrieron sus datos.
                </p>
            </div>
            <div id="stats" class="col-xs-12 col-md-4">
                <div>
                    <p class="stat organizations">{{ "%03d" % h.organizations_with_packages() }}</p>

                    <p class="stats-legend">ORGANIZACIONE<br> CON DATASETS</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
