{% extends "gobar_page.html" %}

{% block subtitle %} - Glosario{% endblock %}

{% block content %}

    <div id="glossary-container" class="container-fluid gobar-static-container">
        <div class="restricted-max-width">
            <div id="glossary" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
                <div id="pkg-path">
                    <a href="{{ h.url_for(controller='package', action='search') }}">Datos Argentina</a> / Glosario
                </div>

                <h2>Glosario</h2>
                <p>
                    ¿Sos nuevo en el mundo de los datos abiertos? No te preocupes, todos lo fuimos alguna vez.
                    <strong>Te explicamos algunas palabras frecuentes.</strong>
                </p>

                <h3>Activo de información</h3>

                <p>
                    <strong>Es cualquier recurso de información o datos con valor para el desarrollo de las
                        funciones de una organización</strong>, que puede ser comprendido y tratado como una única
                    unidad a efectos de gestión, uso, protección e intercambio.
                </p>

                <p>
                    Aunque puede designar piezas aisladas de información (una imagen incluida en un documento, un
                    registro de una base de datos), suele emplearse para identificar y tratar conjuntos de
                    información o datos, como agrupaciones documentales, bases de datos, sitios web, colecciones de
                    metadatos. ¿Un ejemplo? Una base de datos.
                </p>

                <h3>Catálogo de datos</h3>

                <p> Es el sistema de información que recopila y organiza metadatos descriptivos sobre los distintos
                    conjuntos de datos abiertos por una organización, dando un acceso único a los mismos. Un portal
                    de datos es un catálogo.
                </p>

                <h3>Datos abiertos</h3>

                <p>
                    <strong>Los datos abiertos son aquellos a los que cualquier persona puede acceder, usar y
                        compartir libremente.</strong> Sólo deben atribuirse y compartirse con la misma licencia con
                    la que fueron publicados. Son, a su vez, datos públicos disponibilizados en un medio digital,
                    bajo una licencia abierta y usando para ello un formato estándar abierto.
                </p>

                <h3>Dato</h3>

                <p>
                    <strong>El dato es un elemento descontextualizado que puede dar origen a la generación de
                        información.</strong> Son símbolos que describen hechos, condiciones, valores o situaciones.
                    Un dato puede ser una letra, un número o cualquier símbolo que representa una cantidad, una
                    medida, una palabra o una descripción. Los datos son la verdadera materia prima para generar
                    información con valor agregado.
                </p>

                <h3>Conjuntos de datos</h3>

                <p>
                    También se los conoce como datasets. Son la pieza principal en todo el catálogo de datos. Éstos agrupan uno o más recursos de datos y son el eje sobre el que se documentan los metadatos de la información.
                </p>

                <h3>Dato público</h3>

                <p>
                    Es cualquier dato generado en el ámbito gubernamental, o que se encuentra bajo su guarda, y que
                    no tiene su acceso restringido por ninguna legislación específica.
                </p>

                <h3>Información</h3>

                <p>
                    <strong>Es un dato dotado de relevancia y utilidad.</strong> Para obtener información es
                    necesario aplicar algún tipo de transformación o procesamiento sobre los datos. Convertir datos
                    en información es un proceso que genera valor, aporta relevancia, genera algo nuevo que se
                    desconocía.

                <h3>Metadatos</h3>

                <p>
                    Ciertas características o atributos de los datos son definidos para facilitar su comprensión.
                    Estas características se conocen como "metadatos". Suele decirse, por esa razón, que "los
                    metadatos son datos sobre los datos". Los metadatos pueden describir cómo un dato es representado,
                    cuáles son los rangos de valores aceptables, su relación con otros datos y cómo estos deben ser
                    etiquetados. También pueden proporcionar otra información pertinente, como el administrador
                    responsable, leyes y reglamentos asociados, y la política de gestión de acceso.
                </p>

                <h3>Licencias abiertas</h3>

                <p>
                    <strong>Los datos abiertos necesitan estar abiertos tanto técnica, como legalmente. Para
                        hacerlo, tenemos que aplicarles una licencia.</strong> Los datos en poder del sector público
                    no deben estar sujetos a restricciones de patentes. Más importante aún es asegurarse de que
                    estén en formatos legibles que permitan una mayor reutilización. Por ejemplo, documentos en PDF
                    (Portable Document Format) limitan la extracción de los datos y su procesamiento.
                </p>

                <h3>Recursos</h3>

                <p>
                    <strong>Los recursos son la pieza de información más pequeña del catálogo</strong> y son los
                    verdaderos activos de datos del portal.
                </p>


            </div>
        </div>
        <div class="col-xs-12 bottom-link blue-gradient">
            <div class="background-pattern">
                <p>¿Querés aprender más sobre datos abiertos?</p>
                <a href="/kit_de_datos.pdf" target="_blank">
                    <button>MIRÁ EL KIT DE DATOS</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}