{% extends "gobar_page.html" %}

{% block subtitle %} - Marco legal - Régimen de Acceso a la Información Pública{% endblock %}

{% block content %}

    <div id="legal-access-container" class="container-fluid gobar-static-container">
        <div class="restricted-max-width">
            <div id="legal-access" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
                <div id="pkg-path">
                    <a href="{{ h.url_for(controller='package', action='search') }}">Datos Argentina</a> / Marco
                    legal
                </div>

                <h2>Marco legal</h2>

                <p>Estos son los decretos y resoluciones que nos inspiran.</p>

                <h3>Plan Nacional de Apertura de Datos</h3>

                <p>
                    El <a href="http://www.infoleg.gob.ar/infolegInternet/anexos/255000-259999/257755/norma.htm"
                          target="_blank">decreto 117/2016</a> reglamenta plazos tanto para la publicación de los
                    primeros conjuntos de datos de nuestro portal. También reglamenta los tiempos para detallar los activos de
                    datos de los distintos organismos de la Nación y su cronograma de publicación.
                </p>

                <h3>Sistema Nacional de Datos Públicos</h3>

                <p>
                    La <a href="http://www.infoleg.gob.ar/infolegInternet/anexos/215000-219999/218131/norma.htm"
                          target="_blank">resolución 538/2013</a> reglamenta la creación del Sistema Nacional de Datos Públicos (SINDAP).
                </p>

                <h3>Régimen de Acceso a la Información Pública</h3>

                <p>
                    El <a href="http://infoleg.gov.ar/infolegInternet/anexos/90000-94999/90763/norma.htm"
                          target="_blank">decreto 1172/2003</a> establece el Reglamento General del Acceso a la
                    Información Pública para el Poder Ejecutivo Nacional.
                </p>
            </div>
        </div>
    </div>
{% endblock %}