{% extends "gobar_page.html" %}

{% block subtitle %} - Nuestro Portal{% endblock %}

{% block content %}

    <div id="our-site-container" class="container-fluid gobar-static-container">

        <div class="container-fluid blue-gradient counter-section">
            <div class="container-fluid background-pattern">
                <div class="restricted-max-width">
                    <div class="col-xs-12 col-md-6 col-md-offset-1">
                        <h2>DATOS ARGENTINA</h2>
                        <h1>Hacemos posible tus ganas de saber</h1>

                        <p>
                            Al cumplir con sus tareas, <strong>la administración pública produce enormes cantidades de
                            datos. ¡Los abrimos y te los acercamos para que puedas usarlos!</strong> Son tuyos y podés
                            tomar decisiones gigantes con ellos.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-4 col-md-offset-0 round-counter-section">
                        <div class="round-counter-max-width">
                            <div class="round-counter-container">
                                <div class="round-counter">
                                    {% include 'svg/circulito_fondo.svg' %}
                                    {% include 'svg/circulito.svg' %}
                                    <div class="counter-table">
                                        <h3>
                                            <span class="counter-number">&nbsp;</span>
                                            DATOS LIBRES
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <p>
                                SIN RESTRICCIONES<br>DE ACCESO, AUTOR O PATENTES
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="data-section-background container-fluid">
            <div class="restricted-max-width">
                <div class="col-xs-12 col-md-10 col-md-offset-1 data-section">
                    <div class="col-xs-12">
                        <h2>Un mundo de datos</h2>
                        <p>
                            <strong>Sin darte cuenta, usás y producís datos.</strong> Cuando abrís una planilla de
                            cálculo en la oficina o cuando lees una nota sobre la comunidad de científicos que trabaja
                            en nuevas curas de enfermedades, ¡todo el tiempo!
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-4 svg-container">
                        <div class="svg-drawing-container" id="usalos-container">
                            {% include "svg/usalos.svg" %}
                        </div>
                        <h3>USALOS</h3>
                        <p>
                            ¡Descargalos y analizalos!
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-4 svg-container">
                        <div class="svg-drawing-container" id="procesalos-container">
                            {% include "svg/procesalos.svg" %}
                        </div>
                        <h3>PROCESALOS</h3>
                        <p>
                            ¡Combinalos con otros datos! Creá visualizaciones, investigaciones y nuevos productos.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-4 svg-container">
                        <div class="svg-drawing-container" id="compartilos-container">
                            {% include "svg/compartilos.svg" %}
                        </div>
                        <h3>COMPARTILOS</h3>
                        <p>
                            ¡Que todos vean lo que creaste!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid restricted-max-width">
            <div class="col-xs-12 col-md-10 col-md-offset-1 steps-section">
                <div class="col-xs-12 step">
                    <div class="col-xs-12 col-sm-8">
                        <h2>Construimos con transparencia</h2>
                        <p>
                            Hacemos todo lo posible para hacer clara la rendición de cuentas y para crear políticas públicas
                            útiles basadas en evidencia.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="svg-drawing-container" id="transparencia-container">
                            {% include "svg/transparencia.svg" %}
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 step">
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <h2>Creamos comunidad</h2>
                        <p>
                            Organismos del sector público, privados, organizaciones de la sociedad civil, investigadores…
                            ¡todos son bienvenidos para reutilizar los datos, agregarles valor, generar información, crear
                            nuevos y mejores servicios, y aplicaciones!
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="svg-drawing-container" id="comunidad-container">
                            {% include "svg/comunidad.svg" %}
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-8">
                        <h2>Creamos comunidad</h2>
                        <p>
                            Organismos del sector público, privados, organizaciones de la sociedad civil, investigadores…
                            ¡todos son bienvenidos para reutilizar los datos, agregarles valor, generar información, crear
                            nuevos y mejores servicios, y aplicaciones!
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 step last-step">
                    <div class="col-xs-12 col-sm-8">
                        <h2>¡Aprendé más!</h2>
                        <p>
                            <a href="{{ h.url('gobar_glossary') }}" target="_blank">Consultá nuestro glosario</a> para familiarizarte con el mundo de los datos abiertos. Y aprovechá
                            nuestro <a href="/kit_de_datos.pdf" target="_blank">kit de datos</a>, para dar tus primeros pasos abriendo datos.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="svg-drawing-container" id="kit-container">
                            {% include "svg/kit.svg" %}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 text-center discover">
                    <a href="{{ h.url_for(controller='package', action='search') }}">
                            <button>DESCUBRÍ LOS CONJUNTOS DE DATOS</button>
                        </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 blue-gradient team-section">
            <div class="container-fluid background-pattern">
                <div class="restricted-max-width">
                    <h2>Nuestro equipo</h2>
                    <p>
                        La <strong>Dirección Nacional de Datos e Información Pública</strong> forma parte del Ministerio
                        de Modernización de la Nación Argentina.
                    </p>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{%- block scripts %}
    {{ super() }}
    {% resource 'gobar_js/about_our_site.js' %}
{%- endblock -%}