{% extends "gobar_page.html" %}

{% block subtitle %}
    Acerca de -
{% endblock %}

{% block content %}
    <div id="about" class="container-fluid">
        <div id="about-text" class="col-xs-12 col-md-10 col-md-offset-1">
            <h1>Acerca del sitio</h1>

            <h3>¿Qué significa Datos Abiertos (Open Data)?</h3>

            <p>Significa poner información del Estado en un catálogo al alcance de todos, en formatos digitales,
                estándar y
                abiertos, siguiendo una estructura clara que permita su fácil comprensión y reutilización por parte de
                la
                ciudadanía.</p>

            <h3>¿Cómo se relaciona el Catálogo con la iniciativa de Gobierno Abierto?</h3>

            <p>Si bien las políticas de Gobierno Abierto no se agotan en la publicación proactiva de información,
                facilitar
                el
                acceso de los ciudadanos a datos fehacientes, actualizados y libres de barreras tecnológicas y/o legales
                para su
                reutilización constituye un paso fundamental en el camino hacia un sector público transparente, una
                sociedad
                civil en condiciones más adecuadas para participar de forma informada en la elaboración de las políticas
                públicas, y colaborar en la creación, diseño y prestación de servicios públicos.</p>

            <h3>¿De qué nos sirve un catálogo de datos?</h3>

            <p>El Gobierno de la Ciudad Autónoma de la Ciudad de Buenos Aires comprende una compleja red de organismos y
                dependencias que producen, mantienen y recopilan, todos los días, un enorme, diverso e idénticamente
                complejo
                volumen de información. Esa información representa un enorme activo tanto para el gobierno como para los
                vecinos
                que contribuyen a financiarlo con sus impuestos. Por ellos, el objetivo de el Catálogo de Datos no es
                reflejar
                dicha complejidad sino, por el contrario, simplificar a los ciudadanos el proceso de búsqueda,
                descubrimiento y
                acceso a los datos de la Ciudad, contribuyendo a la puesta en valor de la información del sector
                público.</p>

            <h3>¿Qué relación tiene todo esto con el desarrollo de un sistema democrático?</h3>

            <p>La iniciativa de Gobierno Abierto tiende a una evolución hacia un modelo de democracia participativa,
                mediante el
                establecimiento de mecanismos de transparencia en la gestión pública, así como espacios permanentes de
                participación y colaboración ciudadana. El objetivo final es mejorar la democracia y la calidad de vida
                de
                los
                habitantes.</p>

            <h3>¿Qué diferencia hay con la Ley N° 104?</h3>

            <p>La Ley N° 104 regula el Acceso a la Información Pública en el ámbito de la Ciudad de Buenos Aires y, como
                tal,
                cualquier ciudadano puede hacer uso de los instrumentos contemplados en dicha ley para solicitar
                información
                a
                sus gobernantes.</p>

            <p>Buenos Aires Data complementa los derechos y garantías establecidos en la Ley N° 104, publicando en forma
                proactiva información que de otra manera debería ser solicitada utilizando los mecanismos establecidos
                en
                dicha
                ley.</p>

            <h3>¿Cómo deciden qué información se publica?</h3>

            <p>A lo largo de los meses que siguen vamos a trabajar con las distintas áreas y dependencias del Gobierno
                de la
                Ciudad para identificar y -si fuera necesario- adecuar un número creciente de conjuntos de datos para
                ser
                publicados a través de la plataforma.</p>

            <p>Como "reglas de pulgar", la información catalogada a través de esta versión beta de la plataforma cumple
                con
                los
                siguientes requisitos:</p>

            <ul>
                <li>La información es generada, administrada y suministrada por las dependencias del Poder Ejecutivo de
                    la
                    Ciudad Autónoma de Buenos Aires.
                </li>
                <li>La información NO se encuentra sujeta a restricciones o privilegios en virtud de la normativa
                    vigente en
                    materia de Acceso a la Información y Protección de Datos Personales.
                </li>
                <li>Los conjuntos de datos se exponen siguiendo los principios de datos abiertos y, por ende, se
                    encuentran
                    en
                    las condiciones más apropiadas para ser reutilizados.
                </li>
                <li>Los conjuntos de datos que, por su naturaleza, mejor contribuyan a facilitar la rendición de
                    cuentas, a
                    incentivar la participación y colaboración ciudadana, y a promover el desarrollo social, económico y
                    cultural de la Ciudad.
                </li>
            </ul>
            <h3>¿Existe una API?</h3>

            <p>La respuesta es sí, pero – al menos por el momento- la API solo permite acceder programáticamente a los
                metadatos
                (no los datos) correspondientes a cada uno de los conjuntos de datos incluidos en el catálogo. A medida
                que
                la
                plataforma CKAN evolucione y surjan casos de uso que así lo justifiquen, se considerará la posibilidad
                de
                brindar también acceso programático a los datos.</p>

            <p>Podés encontrar más información técnica sobre la API aquí.</p>

            <h3>¿Qué puedo hacer con la información?</h3>

            <p>Tenemos nuestras propias ideas, pero mucho más nos gustaría oír de la tuyas. Abrimos la información para
                que
                la
                puedas usar en lo que quieras. Todo queda en vos.</p>

            <h3>¿Qué significa la reutilización de datos?</h3>

            <p>El sector público produce una gran variedad de información, que es potencialmente reutilizable por los
                ciudadanos
                y por la industria de contenidos digitales, como por ejemplo, información social, económica, geográfica,
                estadística, meteorológica o turística y sobre empresas y educación.</p>

            <p>La reutilización de la información del sector público consiste en el uso por parte de personas físicas o
                jurídicas, de información generada por organismos del sector público, con fines comerciales o no.</p>

            <h3>¿Qué significa que el catálogo está en “beta”?</h3>

            <p>Significa, sencillamente, que nos tomamos un tiempo prudencial para obtener la opinión de nuestros
                usuarios,
                para
                aprender de nuestros errores y aciertos, y para ver de qué manera podemos mejorar el diseño, el
                funcionamiento,
                la usabilidad y los contenidos de la plataforma. En términos prácticos, significa pedir paciencia a
                nuestros
                usuarios y hacerles saber que el catálogo estará sujeto a cambios frecuentes mientras dure el período de
                beta.</p>

            <h3>¿Qué es CKAN?</h3>

            <p>Es el software de portal de datos de código abierto líder en el mundo y que soporta Buenos Aires Data.
                CKAN
                fue
                desarrollado por la organización sin fines de lucro Open Knowledge Foundation y en la actualidad más de
                40
                iniciativas de datos abiertos lo utilizan.</p>

            <h3>¿Por qué CKAN?</h3>

            <p>La elección de la plataforma CKAN como soporte de nuestro portal de datos se puede resumir en cuatro
                grandes
                razones: Primero, porque es de código abierto, libre, gratuita y permite una sencilla y rápida
                implementación.
                Segundo, porque cuenta con una interfaz amigable y fácil de entender, lo que favorece la nevegación del
                sitio.
                Tercero, porque CKAN ha sido elegido por muchas otras iniciativas a nivel mundial, lo que prueba la
                efectividad
                y eficiencia de la plataforma. Y por último, porque posee una fuerte comunidad activa de usuarios y
                desarrolladores que impulsan constantemente el avance de esta tecnología.</p>
        </div>
    </div>

{% endblock %}