{% extends "gobar_page.html" %}

{% block subtitle %} - Nuestro Portal{% endblock %}

{% block content %}

    <div id="our-site-container" class="container-fluid gobar-static-container">

        <div class="col-xs-12 blue-gradient first-section">
            <div class="background-pattern">
                <div class="restricted-max-width">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1">
                        <h2>DATOS ABIERTOS ARGENTINA</h2>
                        <h1>Hacemos posible tus ganas de saber</h1>

                        <p>
                            Al cumplir con sus tareas, <strong>la administración pública produce enormes cantidades de
                            datos. ¡Los abrimos y te los acercamos para que puedas usarlos!</strong> Son tuyos y podés
                            tomar decisiones gigantes con ellos.
                        </p>
                    </div>

                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 round-counter-section">
                        <div class="round-counter-max-width">
                            <div class="round-counter-container">
                                <div class="round-counter">
                                    <div class="counter-table">
                                        <h3>
                                            <span class="counter-number">100%</span>
                                            DATOS LIBRES
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <p>
                                SIN RESTRICCIONES<br>DE ACCESO, AUTOR O PATENTES
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
{% endblock %}