{% extends "gobar_page.html" %}

{% block subtitle %} - Datos Abiertos{% endblock %}

{% block content %}
    {% snippet "static/static_nav_bar.html", active_button='nav-data' %}

    <div id="open-data-container" class="container-fluid gobar-static-container">
        <div class="restricted-max-width">
            <div id="open-data" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2>Datos Abiertos</h2>

                    <h3>¿Qué son?</h3>

                    <p>
                        Datos Abiertos es una iniciativa global, ligada a las políticas de Gobierno Abierto, que tiene como
                        objetivo que los datos y la información se pongan al alcance de todos y se publiquen en formatos
                        digitales para ser reutilizados y redistribuidos por parte de la ciudadanía. Los datos abiertos no
                        tienen restricciones de acceso, derechos de autor, patentes u otros mecanismos de control.
                    </p>

                    <h3>¿Para qué sirven?</h3>

                    <p>
                        Si bien las políticas de Gobierno Abierto no se agotan en la publicación proactiva de información,
                        facilitar el acceso de los ciudadanos a datos fehacientes, actualizados y libres para su
                        reutilización, constituye un paso fundamental en el camino hacia un Estado transparente y una
                        sociedad en condiciones más adecuadas para participar, de forma informada, en la elaboración de
                        políticas públicas.
                    </p>

                    <p>
                        Los datos abiertos son un medio para comprender mejor el funcionamiento del gobierno, fortalecer el
                        rendimiento de cuentas, modificar y mejorar la manera de prestar y acceder a los servicios públicos,
                        alentando a descubrimientos que mejoren la vida de la ciudadanía.
                    </p>

                    <h3>¿Por qué son importantes?</h3>

                    <p>
                        Al disponibilizar datos públicos los gobiernos permiten que terceros (empresas, periodistas,
                        investigadores y cualquier otro ciudadano) puedan desarrollar recursos y herramientas que generen
                        impacto positivo sobre sus comunidades.
                    </p>

                    <p>
                        datos.gob.ar simplificará el proceso de búsqueda, descubrimiento y acceso a los datos de la Nación,
                        contribuyendo a su puesta en valor, y facilitando la toma de decisiones y la participación por parte
                        de los ciudadanos.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}