{% extends "gobar_page.html" %}

{% block subtitle %} - Plataforma - Usuarios{% endblock %}

{% block content %}
    {% snippet "static/static_nav_bar.html", active_button='nav-platform', sub_active_button='platform-users' %}

    <div id="platform-users-container" class="container-fluid gobar-static-container">
        <div id="platform-users" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Plataforma</h2>

                <h3>Especificaciones Técnicas</h3>

                <p>
                    Para el portal de datos se ha utilizado la plataforma CKAN (<a href="http://ckan.org/"
                                                                                   target="_blank">http://ckan.org/</a>)
                    en su versión 2.5. CKAN es una herramienta desarrollada por la Open Knowledge Foundation (<a
                        href="http://okfn.org/" target="_blank">http://okfn.org/</a>). Es software libre distribuido
                    bajo la licencia “GNU Affero General Public License” (<a href="http://www.gnu.org/licenses/"
                                                                             target="_blank">http://www.gnu.org/licenses/</a>)
                </p>

                <p>
                    Actualmente se encuentra entre las plataformas más populares para este tipo de iniciativas, siendo
                    utilizada, entre otros, por el Gobierno de Reino Unido, Brasil y Chile.
                </p>

                <p>
                    CKAN permite la organización de los datos publicados a través de su esquema de datasets y recursos,
                    así como el acceso programático a los mismos, aplicando estándares aprobados internacionalmente para
                    la generación de metadata.
                </p>

                <h3>Datasets</h3>

                <p>
                    Los “datasets” (también denominados “conjuntos de datos”) son la pieza principal en todo el catálogo
                    de datos. Estos agrupan uno o más recursos de datos y son el eje sobre la cual se documenta la
                    metadata de la información.
                </p>

                <h3>Recursos</h3>

                <p>
                    Los recursos son la pieza de información más pequeña del catálogo y son los verdaderos activos de
                    datos del portal.
                </p>

                <h3>Metadata</h3>

                <p>
                    Para facilitar la navegación en el sitio y la búsqueda de conjuntos de datos se utiliza los
                    estándares de metadata propuestos por defecto en CKAN (dublin core <a href="http://dublincore.org/"
                                                                                          target="_blank">http://dublincore.org/</a>
                    y dcat <a href="http://www.w3.org/TR/2013/WD-vocab-dcat-20130312/" target="_blank">http://www.w3.org/TR/2013/WD-vocab-dcat-20130312/</a>)
                </p>

                <h3>Acceso Programático</h3>

                <p>
                    CKAN provee acceso a los datos y a la metadata por medio de una API (Interfaz de Programación de
                    Aplicaciones) . La documentación de la misma puede encontrarse en <a
                        href="http://docs.ckan.org/en/latest/api.html" target="_blank">http://docs.ckan.org/en/latest/api.html</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}