<div id="static-nav-bar">
    <div class="nav-section {{ 'active' if active_button == 'nav-data' else '' }}">
        <a href="{{ h.url('gobar_open_data') }}" class="nav-button">
            <span class="nav-button-border">
                DATOS ABIERTOS
            </span>
        </a>
    </div>

    {%- set spacer = None -%}

    <div class="nav-section {{ 'active' if active_button == 'nav-legal' else '' }}">
        <a href="{{ h.url('gobar_legal') }}" id="nav-legal-link" class="nav-button">
            <span class="nav-button-border">
                MARCO LEGAL
            </span>
        </a>
    </div>

    {%- set spacer = None -%}

    <div class="nav-section {{ 'active' if active_button == 'nav-platform' else '' }}">
        <a href="{{ h.url('gobar_platform') }}" id="nav-plaform-link" class="nav-button">
            <span class="nav-button-border">
                PLATAFORMA
            </span>
        </a>
    </div>
</div>