{% extends "gobar_page.html" %}

{% block subtitle %}
    Terminos y condiciones -
{% endblock %}

{% block content %}
    <div id="terms" class="container-fluid">
        <div id="terms-text" class="col-xs-12 col-md-10 col-md-offset-1">

            <h1>Términos y Condiciones</h1>

            <h2>De acceso y utilización al Catálogo de Datos Abiertos del Gobierno de la Ciudad Autónoma de Buenos
                Aires</h2>

            <h3>I. Introducción</h3>

            <p>El acceso a y/o uso del Catálogo de Datos Abiertos del Gobierno de la Ciudad Autónoma de Buenos Aires (en
                adelante, el "Catálogo") requiere que todos los visitantes al mismo adhieran a los Términos y
                Condiciones de utilización de la información contenida en los sitios web de propiedad del GCBA.</p>

            <p>Dicha adhesión se instrumenta en la aceptación a los Términos y Condiciones publicados en las plataformas
                web administradas por el Gobierno de la Ciudad. Asimismo, cada sitio web podrá contener Condiciones
                Particulares, de acuerdo con el criterio que establezca el organismo encargado de la administración de
                sus contenidos.</p>

            <p>El catálogo incluye, a más de lo indicado, las Condiciones Generales y/o Particulares que en el futuro
                puedan dictarse y que complementen, sustituyan y/o modifiquen las actualmente vigentes.</p>

            <p>Al ingresar y hacer uso del Catálogo, todo "Usuario" (o “Parte Reutilizadora”) adhiere en forma inmediata
                a todos y cada uno de los Términos y Condiciones aquí establecidos.</p>

            <p>En consecuencia, el Usuario deberá leer detenidamente los Términos y Condiciones así como las Condiciones
                Particulares que pudieran dictarse para cada sitio web, al momento de acceder y/o utilizar cualquier
                servicio del Catálogo, cuyo uso y acceso a los contenidos se efectuará bajo su entera
                responsabilidad.</p>

            <p>Los presentes Términos y Condiciones son aplicables a toda persona física o jurídica, que acceda,
                descargue, utilice, reutilice y/o redistribuya información contenida en el Catálogo. Los términos y
                condiciones vincularán a cualquier Parte Reutilizadora por el mero hecho de hacer uso de los documentos
                sometidos a ellas.</p>

            <h3>II. Condiciones de Acceso al Catálogo</h3>

            <p>El acceso al Catálogo se realiza a través de Internet, en el sitio cuya página principal se encuentra
                ubicada en http://data.buenosaires.gob.ar.</p>

            <p>Los costos de conexión y transmisión de datos que pudieran originarse de la mencionada página son a
                exclusivo cargo del Usuario, quien deberá contar, además, con un equipo y programas informáticos que
                permitan un acceso correcto a la plataforma web, y que cumplan con los requisitos mínimos de seguridad
                que establezca el Gobierno de la Ciudad.</p>

            <p>En el supuesto de que el equipo y/o programa informático del Usuario no reúna tales requisitos mínimos,
                el GCBA podrá bloquear su acceso sin que ello origine derecho a indemnización o resarcimiento alguno al
                Usuario.</p>

            <h3>III. De los Cookies</h3>

            <p>Los Cookies son pequeñas piezas de información transferidas por el sitio Web desde el disco duro de la
                computadora del Usuario, que graban sus datos personales cuando se conecta al Catálogo y se modifican al
                abandonar dicha página. Los cookies son anónimos. El Usuario deberá aceptar los cookies para poder
                recibir y/o utilizar el Catálogo de Datos del Gobierno de la Ciudad.</p>

            <h3>IV. Responsabilidad. Garantías. Seguridad</h3>

            <p>El Gobierno de la Ciudad Autónoma de Buenos Aires no será responsable de algún daño, pérdida o gasto que
                surjan directa o indirectamente en relación con las consultas y/o visitas realizadas a la página web del
                Catálogo, así como tampoco por su uso o imposibilidad de uso, en relación con cualquier falla en el
                vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de
                computadora o falla de sistema o línea.</p>

            <p>La utilización del Catálogo y/o los conjuntos de datos referenciados se realizará por parte de los
                Usuarios o Partes Reutilizadoras bajo su propia cuenta y riesgo, correspondiéndoles en exclusiva a ellos
                responder frente a terceros por daños que pudieran derivarse de ella. El Gobierno de la Ciudad Autónoma
                de Buenos Aires no será responsable del uso que de su información hagan los Usuarios, las Partes
                Reutilizadoras, ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa o
                indirecta, ello pudiere producir.</p>

            <p>El Usuario o Parte Reutilizadora deslinda al Gobierno de la Ciudad Autónoma de Buenos Aires de
                responsabilidad sobre la información de la que éstos hagan uso, no pudiendo en consecuencia reclamar por
                errores u omisiones en esta información y materiales. Debido a que ninguna transmisión por Internet
                puede garantizar su íntegra seguridad, el Gobierno de la Ciudad Autónoma de Buenos Aires no puede
                garantizar que la información transmitida utilizando su servicio sea completamente segura, con lo cual
                el Usuario asume este riesgo que declara conocer y aceptar.</p>

            <p>El Gobierno de la Ciudad Autónoma de Buenos Aires no está obligado a garantizar ininterrumpidamente la
                continuidad en la puesta a disposición de la información y los servicios referenciadados a través del
                Catálogo, ni en contenido ni en forma, ni asume responsabilidades por cualquier error u omisión
                contenido en ellos.</p>

            <p>En el caso que Usuarios o Partes Reutilizadoras provean contenidos y/o aplicaciones de software
                utilizando datos o conjuntos de datos referenciados a través del Catálogo deberán comunicarlo al GCBA a
                la dirección de correo electrónico data@buenosaires.gob.ar, e incluir la fuente de consulta bajo la
                siguiente leyenda:</p>

            <p>“El Gobierno de la Ciudad de Buenos Aires no garantiza la exactitud y completitud de los datos provistos
                por este sitio Web o aplicación. Este sitio provee aplicaciones usando datos que han sido modificados
                para su uso respecto de su fuente original (GCBA)”</p>

            <h3>V. Modificación de términos. Hipervínculos</h3>

            <p>El Gobierno de la Ciudad Autónoma de Buenos Aires podrá suprimir y/o modificar, total o parcialmente, los
                datos abiertos disponibles en el Sitio, así como también los términos y condiciones para su utilización,
                cada vez que éste lo considere conveniente, y sin necesidad de otra comunicación que no sea su
                publicación en el sitio de referencia.</p>

            <p>La página web del Gobierno de la Ciudad Autónoma de Buenos Aires puede contener enlaces con otros sitios,
                productos y servicios los que son operados y de propiedad de terceros. En este supuesto, la información
                allí contenida no es administrada ni controlada por el Gobierno de la Ciudad Autónoma de Buenos Aires,
                no siendo en consecuencia responsable de sus contenidos y/o de la exactitud de la información brindada
                por ellos, ni de las convenciones que el Usuario y/o las Partes Reutilizadoras puedan celebrar con
                ellos.</p>

            <h3>VI. De la información publicada en el sitio web</h3>

            <p>La información publicada a través de este sitio web reúne los recaudos de la Ley de Protección de Datos
                Personales Nro. 1845 y la Ley de Acceso a la Información Pública Nro. 104. Asimismo, respeta los
                lineamientos en la materia que dicta el Ministerio de Modernización del Gobierno de la Ciudad.</p>

            <p>Sin perjuicio de lo señalado, la información publicada en este sitio web corresponderá al conjunto de
                datos que cada Organismo del Gobierno de la Ciudad otorgue al Administrador de la plataforma virtual
                para su disponibilidad en el sitio, siendo responsables cada uno de ellos por la información que
                entreguen para ese fin.</p>

            <p>Asimismo, se encuentran bajo las normas de confidencialidad/privacidad toda aquella información personal
                que el Usuario ingresa voluntariamente a nuestra red. Los datos resguardados incluyen nombre, apellido,
                dirección, número de teléfono, correo electrónico, sexo, edad, o nivel educacional. La enumeración no es
                taxativa.</p>

            <h3>VII. Información sobre errores o problemas</h3>

            <p>Cualquier inquietud, consulta, problema o sugerencia que los Usuarios o Partes Reutilizadores tengan en
                relación al presente Catálogo y/o conjuntos de datos referenciados a través del mismo podrán ser
                reportados a la casilla de correo data@buenosaires.gob.ar</p>

            <h3>VIII. Propiedad Intelectual</h3>

            <p>Las marcas, avisos, nombres comerciales, frases de propaganda, dibujos, diseños, y logotipos que aparecen
                en el Sitio, son propiedad exclusiva del Gobierno de la Ciudad Autónoma de Buenos Aires, o de terceros
                que han autorizado su uso al Gobierno de la Ciudad Autónoma de Buenos Aires. En tales casos, queda
                estrictamente prohibido cualquier uso o explotación por cualquier medio, sin el consentimiento previo y
                por escrito del Gobierno de la Ciudad Autónoma de Buenos Aires.</p>

            <h2>Política de licenciamiento de datos</h2>

            <h3>I. Introducción</h3>

            <p>La presente política de licenciamiento de datos complementa los términos y condiciones generales
                aplicables al uso del Catálogo, y ha sido desarrollada para reflejar el espíritu y preservar la
                compatibilidad con la definición de Conocimiento Abierto, en los términos de la definición otorgada por
                la Open Knowledge Foundation, como "Una pieza de contenido o conjunto de datos se considera abierto si
                cualquiera es libre de utilizarlo, reutilizarlo y redistribuirlo, sujeto, a lo sumo, al requisito de
                atribución y compartir por igual".</p>

            <p>Así, además de estos Términos y Condiciones de uso generales, los conjuntos de datos (datasets)
                referenciados a través del Catálogo pueden encontrarse además sujetos a términos y condiciones
                especìficos para la "licencia" correspondiente, aplicable en el caso particular.</p>

            <p>Todo conjunto de datos estará sujeto a los términos y condiciones generales expuestos en esta licencia, a
                más de las condiciones particulares que pudieran aplicarse en el supuesto, salvo cuando se indique
                expresamente lo contrario.</p>

            <p>De la misma forma, los metadatos correspondientes a cada uno de los conjuntos de datos referenciados
                están sujetos a los términos y condiciones generales expuestos en esta licencia, sin excepción.</p>

            <h3>II. Usos permitidos de los datos disponibles en la plataforma web</h3>

            <p>Los presentes términos y condiciones permiten, para los documentos y conjuntos de datos referenciados a
                través del Catálogo, los siguientes usos:</p>

            <ul>
                <li>La realización de obras derivadas.</li>
                <li>Su utilización con fines comerciales y no comerciales, siempre que dicho uso no constituya una
                    actividad administrativa pública.
                </li>
            </ul>

            <p>La reutilización autorizada puede incluir la copia, difusión, modificación, adaptación, extracción,
                reordenamiento y combinación de la información contenida en el sitio, siempre que su utilización se
                ajuste a las condiciones que en adelante se detallarán.</p>

            <h3>III. Política de reutilización de datos abiertos. Condiciones</h3>

            <p>Los datos disponibles en el sitio web podrán ser utilizados de acuerdo con el ítem II., siempre que se
                ajusten a las siguientes condiciones generales:</p>

            <strong>No desnaturalizar el sentido de la información.</strong>
            <ul>
                <li>Debe citarse la fuente de los documentos objeto de la reutilización. Esta cita podrá realizarse de
                    la siguiente manera: “FUENTE: Gobierno de la Ciudad Autónoma de Buenos Aires
                </li>
                <li>Debe mencionarse la fecha de la última actualización de los documentos objeto de la reutilización.
                </li>
                <li>No se podrá indicar, insinuar o sugerir que el Gobierno de la Ciudad de Buenos Aires, participa,
                    patrocina o apoya la utilización o reutilización de la misma.
                </li>
                <li>Deben conservarse, y por tanto no alterarse ni suprimirse los metadatos sobre la fecha de
                    actualización y las condiciones de reutilización aplicables incluidos, en su caso, en el documento
                    puesto a disposición para su utilización o reutilización.
                </li>
            </ul>

            <h3>IV. Terminación de la licencia por parte del GCBA</h3>

            <p>El Gobierno de la Ciudad Autónoma de Buenos Aires puede solicitar a un Usuario o Parte Reutilizadora que
                cese en el uso de esta licencia y cualquier forma de distribución de datos que se realice bajo la misma,
                en el caso que este considere que ha existido una violación a los términos y condiciones aquí
                descriptos. Ello, sin perjuicio de las medidas que en su consecuencia el GCBA pueda llegar a adoptar con
                el Usuario o Parte Reutilizadora que haya incumplido los términos y condiciones generales aquí
                definidos.</p>

            <h3>V. Controversias judiciales. Jurisdicción aplicable</h3>

            <ul>
                <li>Toda controversia que se suscite en relación al incumplimiento de los Términos y Condiciones de
                    Acceso y Utilización al Catálogo de Datos Abiertos, y con la Política de licenciamiento de los datos
                    disponibles a través de las plataformas virtuales del GCBA, serán competentes para entender los
                    Tribunales en lo Contencioso Administrativo y Tributario de la Ciudad Autónoma de Buenos Aires
                    (Conf. Ley 189).
                </li>
                <li>A tales efectos, el GCBA constituye domicilio en Uruguay 458, de la Ciudad Autónoma de Buenos Aires,
                    Departamento Oficios Judiciales y Cédulas de la Procuración General de la Ciudad (Conf. Artículo 20º
                    de la Ley Nº 1.218 y Resolución 77/PG/06).
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
