$blue-100: #c7eafb;
$blue-200: #17b2f8;
$blue-300: #0695d6;
$blue-350: #00b9f1;
$blue-400: #0072bc;

$grey-100: #f5f5f5;
$grey-150: #e5e5e5;
$grey-200: #cccccc;
$grey-300: #999999;
$grey-400: #767676;
$grey-500: #424242;

$red-200: #ff7366;
$red-300: #ef4d3d;

$green: #00D57A;
$green-200: #4ecd7a;
$green-300: #33B561;