$dark-blue: #0072bc;
$blue: #00B9F1;
$inactive: #eaeced;
$light-grey: #D1D3D4;
$light-blue: #C7EAFB;
$grey: #58595B;
$black: #231F20;


$blue-100: #c7eafb;
$blue-200: #1e90da;
$blue-300: #0072bc;

$grey-100: #f5f5f5;
$grey-150: #e5e5e5;
$grey-200: #cccccc;
$grey-300: #999999;
$grey-400: #767676;
$grey-500: #424242;
