// Copia filtrada de _bourbon.scss

// Bourbon 4.2.6
// http://bourbon.io
// Copyright 2011-2015 thoughtbot, inc.
// MIT License

@import "bourbon/settings/prefixer";
@import "bourbon/settings/px-to-em";
@import "bourbon/settings/asset-pipeline";

@import "bourbon/functions/assign-inputs";
@import "bourbon/functions/contains";
@import "bourbon/functions/contains-falsy";
@import "bourbon/functions/is-length";
@import "bourbon/functions/is-light";
@import "bourbon/functions/is-number";
@import "bourbon/functions/is-size";
@import "bourbon/functions/px-to-em";
@import "bourbon/functions/px-to-rem";
@import "bourbon/functions/shade";
@import "bourbon/functions/strip-units";
@import "bourbon/functions/tint";
@import "bourbon/functions/transition-property-name";
@import "bourbon/functions/unpack";
@import "bourbon/functions/modular-scale";

@import "bourbon/helpers/convert-units";
@import "bourbon/helpers/directional-values";
@import "bourbon/helpers/font-source-declaration";
@import "bourbon/helpers/gradient-positions-parser";
@import "bourbon/helpers/linear-angle-parser";
@import "bourbon/helpers/linear-gradient-parser";
@import "bourbon/helpers/linear-positions-parser";
@import "bourbon/helpers/linear-side-corner-parser";
@import "bourbon/helpers/radial-arg-parser";
@import "bourbon/helpers/radial-positions-parser";
@import "bourbon/helpers/radial-gradient-parser";
@import "bourbon/helpers/render-gradients";
@import "bourbon/helpers/shape-size-stripper";
@import "bourbon/helpers/str-to-num";

@import "bourbon/css3/animation";
// @import "bourbon/css3/appearance";
// @import "bourbon/css3/backface-visibility";
@import "bourbon/css3/background";
// @import "bourbon/css3/background-image";
// @import "bourbon/css3/border-image";
// @import "bourbon/css3/calc";
// @import "bourbon/css3/columns";
// @import "bourbon/css3/filter";
// @import "bourbon/css3/flex-box";
@import "bourbon/css3/font-face";
// @import "bourbon/css3/font-feature-settings";
// @import "bourbon/css3/hidpi-media-query";
// @import "bourbon/css3/hyphens";
// @import "bourbon/css3/image-rendering";
@import "bourbon/css3/keyframes";
@import "bourbon/css3/linear-gradient";
// @import "bourbon/css3/perspective";
@import "bourbon/css3/placeholder";
// @import "bourbon/css3/radial-gradient";
// @import "bourbon/css3/selection";
// @import "bourbon/css3/text-decoration";
@import "bourbon/css3/transform";
@import "bourbon/css3/transition";
// @import "bourbon/css3/user-select";

// @import "bourbon/addons/border-color";
@import "bourbon/addons/border-radius";
// @import "bourbon/addons/border-style";
// @import "bourbon/addons/border-width";
// @import "bourbon/addons/buttons";
// @import "bourbon/addons/clearfix";
// @import "bourbon/addons/ellipsis";
// @import "bourbon/addons/font-stacks";
// @import "bourbon/addons/hide-text";
// @import "bourbon/addons/margin";
// @import "bourbon/addons/padding";
// @import "bourbon/addons/position";
@import "bourbon/addons/prefixer";
// @import "bourbon/addons/retina-image";
// @import "bourbon/addons/size";
// @import "bourbon/addons/text-inputs";
// @import "bourbon/addons/timing-functions";
// @import "bourbon/addons/triangle";
// @import "bourbon/addons/word-wrap";

@import "bourbon/bourbon-deprecated-upcoming";
