{% extends "gobar_page.html" %}

{% block subtitle %} - Crear dataset{% endblock %}

{% block content %}
    <div id="new-package-container" class="container-fluid">
        <div class="restricted-max-width">
            <div id="new-package" class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="back-btn">
                        <a href="{{ h.url('home') }}">
                            <i class="icon-chevron-left"></i>
                            VOLVER
                        </a>
                    </div>
                    <h1>Crear dataset y agregar recursos</h1>
                    {{- h.snippet(form_snippet, c=c, **form_vars) -}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
