{% extends 'package/snippets/package_form.html' %}

{% set form_style = c.form_style or c.action %}

{% block stages %}
    {% if form_style != 'edit' %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block save_button_text %}
    {% if form_style != 'edit' %}
        {{ super() }}
    {% else %}
        GUARDAR CAMBIOS
    {% endif %}
{% endblock %}

{% block see_resources %}
    {% if form_style == 'edit' %}
        {% link_for 'EDITAR RECURSOS', controller='package', action='resources', id=c.pkg_dict.name, class_='btn btn-blue' %}
    {% endif %}
{% endblock %}

{% block save_draft %}
    {% if form_style != 'edit' %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block cancel_button %}
    {% if form_style != 'edit' %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block delete_button %}
    {% if (form_style == 'edit' or c.pkg_dict.state == 'draft') and h.check_access('package_delete', {'id': c.pkg_dict.id}) %}
        {{ super() }}
    {% endif %}
{% endblock %}
