{% extends "gobar_page.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}
{% set res = c.resource %}

{% block content %}
    <div class="resource-container container-fluid">
        <div class="resource col-xs-12 col-md-10 col-md-offset-1">
            <div class="col-xs-12 title">
                <h1>{{ res.name }}</h1>

                <p>{{ res.description }}</p>
                <a href="{{ res.url }}">
                    {% snippet "svg/descargar.svg" %}
                </a>
            </div>
            <div class="resource-alternative-packages col-xs-12 col-md-8">
                {% if pkg.resources and pkg.resources|length > 1 %}
                    <h2>Recursos alternativos</h2>
                    {% for resource in pkg.resources %}
                        {% if resource.id != res.id %}
                            {% snippet "package/snippets/resource_item.html", pkg=pkg, resource=resource %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="resource-additional-info col-xs-12 col-md-4">
                <h2>Información Adicional</h2>
                <div class="resource-additional col-xs-12">
                    <div class="col-xs-6 key">
                        Fecha de creación
                    </div>
                    <div class="col-xs-6 value">
                        {{ h.render_datetime(res.created) or _('unknown') }}
                    </div>
                </div>
                <div class="resource-additional col-xs-12">
                    <div class="col-xs-6 key">
                        Formato
                    </div>
                    <div class="col-xs-6 value">
                        {% set format = (res.mimetype_inner or res.mimetype or res.format or _('unknown')).lower() %}
                        <span class="label" data-format="{{ format }}">{{ format }}</span>
                    </div>
                </div>
                <div class="resource-additional col-xs-12">
                    <div class="col-xs-6 key">
                        Último cambio
                    </div>
                    <div class="col-xs-6 value">
                        {{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}