{% extends "gobar_page.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}
{% set logged_in = true if c.userobj else false %}
{% set res = c.resource %}
{% set referer_url = request.headers.Referer %}

{% block content %}
    <div id="edit-package-container" class="container-fluid" data-referer-url="{{referer_url}}"
    data-back-url="{{h.url(controller='package', action='resources', id=pkg.name)}}">
        <div class="restricted-max-width">
            <div id="edit-package" class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="back-btn">
                        <a id='back-button' href="#">
                            <i class="icon-chevron-left"></i>
                            VOLVER
                        </a>
                    </div>
                    <h1>
                        {% if res %}
                            {{ res.name }}.{{ res.format.lower() }}
                        {% else %}
                            Agregar recurso
                        {% endif %}
                    </h1>

                    {% block form %}{% endblock %}

                    {% block scripts %}
                        {{ super() }}
                        {% resource 'vendor/fileupload' %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% resource 'gobar_js/package/resource.js' %}
{% endblock %}