{% set stats = h.get_site_statistics() %}

<div id="title" class="package-title container-fluid">
    {% snippet "title_background.html" %}
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div id="title-container" class="col-xs-12 col-md-6">
            <h1>Datos</h1>

            <p class="description">
                Información pública producida, almacenada y publicada por las diferentes áreas del
                Gobierno de la República Argentina.
            </p>
        </div>
        <div id="stats" class="col-xs-12 col-md-4 col-md-offset-2">
            <div class="col-xs-6 col-md-12">
                <p class="stat">{{ "%03d" % stats.dataset_count }}</p>

                <p class="stats-legend datasets">DATASETS</p>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
