{% set stats = h.get_site_statistics() %}
{% set config = h.template_config() %}

<div id="title" class="package-title container-fluid">
    <div class="background-overlay">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div id="title-container" class="col-xs-12 col-md-6 text-left">
                    <h1>Datos</h1>

                    <p class="description">
                        {{ config['dataset_description'] }}
                        {% if h.check_access('package_create') %}
                            <a class="edit-description-link" href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_datasets') }}">
                                {% snippet "svg/edit.svg" %}
                            </a>
                        {% endif %}
                    </p>
                </div>
                <div id="stats" class="col-xs-12 col-md-4 col-md-offset-2">
                    <div class="col-xs-12">
                        <p class="stat">{{ "%03d" % stats.dataset_count }}</p>

                        <p class="stats-legend datasets">DATASETS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/background_ie.js' %}
