{% import 'macros/form.html' as form %}

<form id="group-edit" class="dataset-form form-horizontal" method="post" data-module="basic-form"
      enctype="multipart/form-data">
    {% block error_summary %}
        {{ form.errors(error_summary) }}
    {% endblock %}

    {% block basic_fields %}
        {% set attrs = {'data-module': 'slug-preview-target'} %}
        {{ form.input('title', label='Título', id='field-name', placeholder='Ej: Educación', value=data.title, error=errors.title, classes=['control-full'], attrs=attrs) }}

        {# Perhaps these should be moved into the controller? #}
        {% set prefix = h.url_for(controller='group', action='read', id='') %}
        {% set domain = h.url_for(controller='group', action='read', id='', qualified=true) %}
        {% set domain = domain|replace("http://", "")|replace("https://", "") %}
        {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<nombre-del-grupo>'} %}

        {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-group'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

        {{ form.markdown('description', label='Descripción del tema', id='field-description', placeholder='', value=data.description, error=errors.description) }}

        {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
        {% set is_url = data.image_url and data.image_url.startswith('http') %}

        <p class="img-title">Imagen</p>
        <p class="img-description">
            Por favor, subí solo imágenes en .SVG, sin contenidos ocultos.
        </p>
        {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=' ', url_label=' ') }}

    {% endblock %}

    <div class="form-actions">
        {% block delete_button %}
            {% if h.check_access('group_delete', {'id': data.id}) %}
                <button type="button" class="btn btn-red" id="confirm-delete">
                    BORRAR TEMA
                </button>
            {% endif %}
        {% endblock %}
        <button class="btn btn-blue" name="save" type="submit">
            {% block save_text %}{{ _('Save Group') }}{% endblock %}
        </button>
    </div>
</form>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1>¿Querés borrar este tema?</h1>
                <div class="modal-actions">
                    <form id="organization-confirm-delete-form"
                          action="{% url_for controller='group', action='delete', id=data.id %}"
                          method="post">
                        <button class="btn btn-blue" type="submit" name="delete">SÍ, BORRAR TEMA</button>
                        <button id="dismiss-greetings" type="button" class="btn btn-blue" data-dismiss="modal">
                            NO, NO BORRAR
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/forms/confirm_delete.js' %}
