.organization-container {
  display: table-row;
  height: 100%;
  @include base-container();
  .organization {
    height: 100%;
    @include base-content();
    padding: 30px 20px;

    .add-organization {
      text-align: right;
      margin-bottom: 20px;
      a {
        display: inline-block;
        color: white;
        border: none;
        padding: 12px;
        @include border-radius(4px);
        background-color: $blue-300;
        &:hover {
          background-color: $blue-200;
        }
      }
    }

    .organization-list {
      padding: 0;
      margin: 0;
      font-size: 16px;

      $border-color: $grey-150;
      $border-spacing: 5px;
      .organization-list-title {
        padding: 5px;
        margin-bottom: $border-spacing;
        border-bottom: solid 2px $border-color;
        font-size: 90%;
        font-size: 18px;
        color: $grey-400;
        .count-title {
          float: right;
        }
      }
      hr {
        margin: $border-spacing 0;
        border: none;
        border-top: solid 2px $border-color;
      }

      .organization-branch {
        $hierarchy-space: 50px;
        $border-left-space: 12px;
        $border-top-space: 1em;
        $border-color: $grey-200;
        .organization-branch {
          padding-left: $hierarchy-space;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: $border-top-space;
            left: $border-left-space;
            width: $hierarchy-space - $border-left-space;
            border-bottom: dashed 1px $border-color;
          }

          &:after {
            content: '';
            position: absolute;
            left: $border-left-space;
            top: 0;
            height: 100%;
            border-left: dashed 1px $border-color;
          }

          &:last-child:after {
            height: $border-top-space;
          }
        }

        .organization-name {
          padding: 5px;
          margin: 0;
          font-size: 18px;

          .edit-organization svg {
            width: 1em;
            height: 1em;
            path {
              fill: $grey-300;
            }
            &:hover path {
              fill: $grey-400;
            }
          }
          svg.chevron-right {
            vertical-align: middle;
            width: 20px;
            height: 20px;
            @include transform(scale(2));
            path {
              fill: $grey-300;
            }
          }

          &.top-organization {
            font-weight: 500;
            font-size: 20px;
            position: relative;
            padding-right: 2em;
          }
        }
        .organization-count {
          font-weight: 500;
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          color: $grey-500;
        }
      }

      .top-organization ~ .organization-branch {
        padding-right: 2em;
      }
    }
  }
}