.organization-container {
  .organization {
    @include base-container();
    padding: 30px 20px;

    .add-organization {
      text-align: right;
      margin-bottom: 20px;
    }

    .organization-list {
      padding: 0;
      margin: 0;
      font-size: 16px;

      $border-color: $inactive;
      $border-spacing: 5px;
      .organization-list-title {
        padding: 5px;
        margin-bottom: $border-spacing;
        border-bottom: solid 1px $border-color;
        font-size: 90%;
        @include breakpoint-sm {
          font-size: 100%;
        }
        .count-title {
          float: right;
        }
      }
      hr {
        margin: $border-spacing 0;
        border-color: $border-color;
      }

      .organization-branch {
        $hierarchy-space: 50px;
        $border-left-space: 12px;
        $border-top-space: 1em;
        $border-color: $light-grey;
        .organization-branch {
          padding-left: $hierarchy-space;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: $border-top-space;
            left: $border-left-space;
            width: $hierarchy-space - $border-left-space;
            border-bottom: dashed 1px $border-color;
          }

          &:after {
            content: '';
            position: absolute;
            left: $border-left-space;
            top: 0;
            height: 100%;
            border-left: dashed 1px $border-color;
          }

          &:last-child:after {
            height: $border-top-space;
          }
        }

        .organization-name {
          padding: 5px;
          margin: 0;

          .edit-organization svg {
            width: 1em;
            height: 1em;
            path {
              fill: $light-grey;
            }
            &:hover path {
              fill: $grey;
            }
          }
          svg.chevron-right {
            vertical-align: middle;
            width: 20px;
            height: 20px;
            @include transform(scale(2));
            path {
              fill: $light-blue;
            }
          }

          &.top-organization {
            color: $grey;
            font-weight: 500;
            font-size: 18px;
            position: relative;
            padding-right: 2em;
          }
        }
        .organization-count {
          font-weight: 500;
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
        }
      }

      .top-organization ~ .organization-branch {
        padding-right: 2em;
      }
    }
  }
}