/* Extiende ../home/title */

#title.organization-title {
  .background-overlay {
    padding-bottom: 40px;
  }

  #title-container {
    h1 {
      font-size: 35px;
      @include breakpoint-sm {
        font-size: 50px;
      }
    }
    .description {
      margin: 0;
    }
  }
  #stats {
    .stats-legend {
      margin: 0;
    }
  }
}