.package-container {
  height: 100%;
  display: table-row;
  @include base-container();
  .package {
    height: 100%;
    @include base-content();
    padding: 0;
    .row {
      overflow: hidden;
      margin: 0;
    }
    #pkg-main-info,
    #pkg-secondary-info,
    #pkg-recent-activity,
    #pkg-related {
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }
  }
}

@import 'snippets/main_info';
@import 'snippets/secondary_info';
@import 'snippets/recent_activity';
