.resource-container {
  @include base-container();
  height: 100%;
  display: table-row;
  .resource {
    height: 100%;
    color: $grey-300;
    @include base-content();
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    @include breakpoint-md {
      padding-left: 50px;
      padding-right: 50px;
    }

    .back-to-pkg {
      padding-left: 0;
      a.back-link {
        color: $grey;
        font-weight: 500;
      }
      a.edit-resource {
        color: white;
        float: right;
      }
    }

    .title {
      $top-space: 20px;
      $download-size: 50px;
      padding-left: 0;
      padding-right: $download-size + 70px;
      margin-bottom: 15px;
      h1 {
        color: $blue-300;
        margin: $top-space 0 0 0;
        font-size: 26px;
      }
      p {
        font-size: 18px;
      }
      button {
        background: $blue-300;
        border: none;
        @include border-radius(4px);
        color: white;
        padding: 4px 8px;
        font-weight: 400;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -15px;
        &:hover {
          background: $blue-200;
        }
      }
    }

    .resource-alternative-packages {
      padding-left: 0;
      padding-right: 0;
      @include breakpoint-md {
        padding-left: 15px;
        padding-right: 15px;
      }
      border-bottom: solid 1px $grey-300;
      padding-bottom: 20px;

      h2 {
        color: $grey-500;
        border-bottom: solid 1px $grey-300;
        font-size: 20px;
        font-weight: 400;
      }
    }

    .resource-additional-info {
      padding-left: 0;
      padding-right: 0;
      @include breakpoint-md {
        padding-left: 15px;
        padding-right: 15px;
      }
      h2 {
        padding-top: 2px;
        font-size: 19px;
        font-weight: 400;
        border-bottom: solid 1px $grey-300;
        color: $blue-300;
        margin-bottom: 0;
      }
      .resource-additional {
        padding: 15px 5px;
        font-size: 16px;
        border-bottom: solid 1px $grey-300;
        &:last-child {
          border-bottom: solid 1px $grey-300;
        }
        .key {
          padding: 0;
          font-weight: 500;
        }
        .value {
          padding: 0;
          span.label {
            font-size: 14px;
            @include labelsFormatColors();
          }
        }
      }
    }
  }
}

