#edit-resources-container {
  @include base-container();
  #edit-resources {
    @include base-content();
    .action-buttons {
      margin: 20px 0;
      .edit-dataset-button, .add-resource {
        margin: 0 10px 0 0;
      }
      .btn {
        border-color: $grey-200;
      }
    }

  }
}