.resource-container {
  @include base-container();
  .resource {
    @include base-content();
    padding-bottom: 50px;

    .back-to-pkg {
      a.back-link {
        color: $grey;
        font-weight: 500;
      }
      a.edit-resource {
        color: white;
        float: right;
      }
    }

    .title {
      $top-space: 20px;
      $download-size: 50px;
      padding-right: $download-size + 10px;
      h1 {
        color: $dark-blue;
        margin: $top-space 0 0 0;
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      svg {
        width: $download-size;
        position: absolute;
        top: $top-space;
        right: 0;
        fill: $light-grey;
        &:hover {
          fill: $dark-blue;
        }
      }
    }

    .resource-alternative-packages {
      padding-left: 0;
      padding-right: 0;
      @include breakpoint-md {
        padding-left: 15px;
        padding-right: 15px;
      }
      border-bottom: solid 1px $light-grey;
      padding-bottom: 20px;

      h2 {
        font-size: 17px;
        border-bottom: solid 1px $light-grey;
        margin-bottom: 0;
      }
    }

    .resource-additional-info {
      padding-left: 0;
      padding-right: 0;
      @include breakpoint-md {
        padding-left: 15px;
        padding-right: 15px;
      }
      h2 {
        font-size: 17px;
        border-bottom: solid 1px $light-grey;
        color: $dark-blue;
        margin-bottom: 0;
      }
      .resource-additional {
        padding: 15px 5px;
        font-size: 14px;
        border-bottom: solid 1px $inactive;
        &:last-child {
          border-bottom: solid 1px $light-grey;
        }
        .key {
          padding: 0;
          font-weight: 500;
        }
        .value {
          padding: 0;
          span.label {
            @include labelsFormatColors();
          }
        }
      }
    }
  }
}

