#edit-resources-container {
  @include base-container();
  height: 100%;
  #edit-resources {
    @include base-content();
    height: 100%;
    padding: 0;

    .back-btn {
      margin: 20px 0;
    }

    h1 {
      color: $blue-300;
      margin: 20px 0;
    }

    .form-like {
      padding: 50px;
      margin: 0 0 50px 0;
      @include box-shadow(0 0 4px 0 rgba(150, 150, 150, 0.5));
      h1 {
        display: none !important;
      }
      .spacer {
        height: 83px;
        margin: 0 0 10px 0;
        border-bottom: solid 1px $grey-200;
        display: none;
      }
    }

    .resource-actions {
      padding: 50px 0 0 0;
      margin: 10px 0 0 0;
      border-top: solid 1px $grey-200;
      text-align: center;
      .btn {
        padding: 12px;
      }
    }

    .form-actions {
      padding: 50px 0 0 0;
      margin: 10px 0 0 0;
      text-align: center;
      text-transform: uppercase;
      border-top: solid 1px $grey-200;

      .btn {
        padding: 12px;
        float: none !important;
        &.save {
          background: $blue-300;
          &:hover {
            background: $blue-200;
            color: white;
          }
        }
      }

      .saving {
        display: none !important;
      }
    }

    .action-buttons {
      margin: 0 0 10px 0;
      padding: 0 0 20px 0;
      border-bottom: solid 1px $grey-200;
      text-align: right;
      .btn {
        padding: 12px;
        text-transform: uppercase;
        background: $blue-300;
        &:hover {
          background: $blue-200;
          color: white;
        }
        i {
          display: none;
        }
      }
    }

    ul {
      margin: 0;
    }

  }
}