.package-container {
  height: 100%;
  @include base-container();
  .package-search {
    height: 100%;
    @include base-content();
    padding: 0 0 30px 0;
    overflow: hidden;
  }
}

@import 'snippets/search_results';
@import 'snippets/search_filters';
@import 'snippets/search_item';
