#title.package-title {
  padding-bottom: 40px;
  #title-container {
    .description {
      margin: 0;
    }
  }
  #stats {
    > div {
      padding: 0;
      .stats-legend {
        margin: 0;
      }
    }
  }
}