#title.package-title {
  .background-overlay {
    padding-bottom: 40px;
  }
  #title-container {
    .description {
      margin: 0;
      .edit-description-link svg.edit-svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        path {
          fill: white;
        }
      }
    }
  }
  #stats {
    > div {
      padding: 0;
      .stats-legend {
        margin: 0;
      }
    }
  }
}