<div id="pkg-main-info" class="col-xs-12 col-md-8">
    <div id="pkg-title-and-desc">
        {% if h.check_access('package_update', {'id':pkg.id }) %}
            {% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary edit-button', icon='wrench' %}
        {% endif %}
        <h1 class="pkg-title">{{ pkg.title }}</h1>

        <p class="pkg-author">
            {{ pkg.author }}
            {% if pkg.author_email %}
                <a href="mailto:{{ pkg.author_email }}">
                    {% snippet "svg/mail.svg" %}
                </a>
            {% endif %}
        </p>

        <p class="pkg-notes">{{ pkg.notes }}</p>

        <h2 class="pkg-resources-title">Recursos disponibles</h2>
    </div>

    <div id="pkg-resources">
        {% for resource in pkg.resources %}
            <div class="pkg-container">
                <div class="pkg-actions">
                    <a href="#">
                        {% snippet "svg/info.svg" %}
                    </a>
                    <a href="{{ resource.url }}">
                        {% snippet "svg/descargar.svg" %}
                    </a>
                </div>
                <div class="package-info">

                    <h3>{{ resource.name }}</h3>

                    <p>{{ resource.description }}</p>
                </div>
                <div class="pkg-file-img" data-format="{{ resource.format.lower() }}">
                    {% snippet "svg/archivo.svg" %}
                    <p>{{ resource.format.lower() }}</p>
                </div>
            </div>

        {% endfor %}

    </div>

</div>