{% import 'macros/form.html' as form %}
{% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
{{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder='Ej: Compras, Gastos, Presupuesto.', value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs, after_desc='Son las palabras que ayudan a los usuarios a encontrar los datasets. Usá palabras generales.') }}

<div class="control-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license">{{ _("License") }}</label>
    <p>
        Esta licencia aplica para los contenidos de cualquier recurso de este dataset (a menos que especifiques una
        licencia distinta en alguno de sus recursos). Cuando publiques, aceptarás liberar los metadatos del formulario
        bajo la <a href="http://opendatacommons.org/licenses/odbl/1-0/" target="_blank">licencia Open Database</a>.
        Encontrá <a href="http://opendefinition.org/" target="_blank">más información sobre licencias en Open
        Definition</a>.
    </p>
    <div class="controls">
        <select id="field-license" name="license_id" data-module="autocomplete">
            {% set existing_license_id = data.get('license_id') %}
            {% for license_id, license_desc in h.license_options(existing_license_id) %}
                <option value="{{ license_id }}"
                        {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
            {% endfor %}
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
</div>

{% if show_visibility_selector %}
    <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
            <select id="field-private" name="private">
                {% for option in [('True', _('Private')), ('False', _('Public'))] %}
                    <option value="{{ option[0] }}"
                            {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}

{% if show_organizations_selector and show_visibility_selector %}
    </div>
{% endif %}
