{% import 'macros/form.html' as form %}

{% block package_metadata_fields %}

    {{ form.input('author', label='Responsable', id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

    {{ form.input('author_email', label='E-mail del responsable', id='field-author-email', value=data.author_email, error=errors.author_email, classes=['control-medium']) }}

    {{ form.input('maintainer', label='Mantenedor', id='field-maintainer', value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

    {{ form.input('maintainer_email', label='E-mail del mantenedor', id='field-maintainer-email', value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}

    {{ form.input('Fecha de publicación', label='Fecha de publicación', type='text', value=h.get_pkg_extra(data, 'Fecha de publicación'), classes=['hidden-extra']) }}

    {{ form.input('Frecuencia de actualización', label='Frecuencia de actualización', type='text', value=h.get_pkg_extra(data, 'Frecuencia de actualización'), classes=['hidden-extra']) }}

    {{ form.input('Documentación', label='Documentación', type='text', value=h.get_pkg_extra(data, 'Documentación'), classes=['hidden-extra']) }}

    {{ form.input('url', label='Fuente', id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}

    <div class="control-group hidden-extra">
        <label>
            {% set is_featured = h.get_pkg_extra(data, 'home_featured') == 'true' %}
            <input type="checkbox" id="home_featured" name="home_featured" {{ 'checked' if is_featured else '' }}>
            ¿Querés destacar este dataset en la página principal?
        </label>
    </div>

    <div class="hidden-extras-container hidden"></div>

{% endblock %}
