<div class="control-group control-full">
    <label class="control-label" for="field-groups">Temas específicos</label>
    <p>Estos son los temas que se mostrarán en tu portal.</p>
    <div class="controls package-groups">
        {% for group in h.join_groups(selected_groups) %}
            <label class="package-group-label" for="{{ group.name }}">
                <input type="checkbox" class="package-group-checkbox"
                       id="{{ group.name }}" {{ 'checked' if group.selected else '' }}>
                {{ group.display_name }}
            </label>
        {% endfor %}
    </div>
</div>
