<div id="resource-attributes-form">
    <div class="control-group control-full">
        <h2 class="blue">Documentación del recurso</h2>
        <p>
            Esto no se verá en el portal, pero ayuda al usuario a entender cuál es la información del recurso y cómo
            usarla.
        </p>
    </div>

    {% set attributes = h.json_loads(data['attributesDescription'] or '[]') %}
    {% set attributes = attributes|length == 0 and attributes + [{}] or attributes %}

    {% for attribute_group in attributes %}
        <div class="resource-attributes-group">
            <div class="control-group control-full">

                <i class="icon-remove remove-col"></i>

                <div class="col-xs-6 resource-attributes-title-container">
                    <label class="control-label">Título de la columna</label>
                    <div class="controls">
                        <input class="resource-col-name" type="text" title="Título de la columna"
                               placeholder="Ej: audiencia_fecha" value="{{ attribute_group['title'] }}">
                    </div>
                </div>

                <div class="col-xs-6 other-resource-attributes-container">
                    <label class="control-label">Tipo de dato</label>
                    <div class="controls">
                        <select class="resource-col-type">
                            {% set selected_type = attribute_group['type'] %}
                            <option {{ 'selected=true' if not selected_type or selected_type|length == 0 }}
                                    disabled="disabled">Ej.: date
                            </option>
                            {% for field_type in h.field_types() %}
                                <option value="{{ field_type[0] }}" {{ 'selected=true' if field_type[0] == selected_type }}
                                >{{ field_type[1].decode('utf-8') }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="resource-attributes-unit-container {{ 'hidden' if not h.type_is_numeric(selected_type) }}">
                        <label class="control-label">Unidad</label>
                        <div class="controls">
                            <input class="resource-col-unit" type="text" title="Unidad"
                                   placeholder="" value="{{ attribute_group['unit'] }}">
                        </div>
                    </div>

                    <label class="control-label">Descripción de la columna</label>
                    <textarea title="Descripción de la columna" class="resource-col-descrition"
                              placeholder="Ej: Fecha en la que se hizo una audiencia pública."
                    rows="5">{{ attribute_group.description }}</textarea>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="resource-attributes-actions">
        <span id="add-col" class="btn btn-blue">AGREGAR OTRA COLUMNA</span>
    </div>

    <input id="attributes-description" type="hidden"
           name="attributesDescription" value="{{ data['attributesDescription'] }}">
</div>

{% resource 'gobar_js/forms/resource_form.js' %}
