<div id="resource-attributes-form">
    <div class="control-group control-full">
        <label class="control-label">Documentación del recurso</label>
        <p>
            Esto no se verá en el portal, pero ayuda al usuario a entender cuál es la información del recurso y cómo
            usarla.
        </p>
    </div>

    <div class="resource-attributes-group">
        <div class="control-group control-full">
            <label class="control-label">Titulo de la columna</label>
            <div class="controls">
                <input name="column-name" class="resource-col-name" type="text" title="Titulo de la columna"
                       placeholder="Ej: audiencia_fecha" value="{{ data['column-name'] }}">
            </div>
        </div>

        <div class="control-group control-full">
            <label class="control-label">Tipo de dato</label>
            <div class="controls">
                <select name="column-type" class=resource-col-type"">
                    {% set selected_type = False %}
                    <option {{ 'selected=true' if not selected_type or selected_type|length == 0 }}
                            disabled="disabled">Ej.: date</option>
                    {% for field_type in h.field_types().items() %}
                        <option value="{{ field_type[0] }}">{{ field_type[1].decode('utf-8') }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group control-full">
            <label class="control-label">Descripción de la columna</label>
            <textarea name="column-description" title="Descripción de la columna" class="resource-col-descrition"
                      placeholder="Ej: Fecha en la que se hizo una audiencia pública.">{{ data['column-description'] }}</textarea>
        </div>
    </div>

    <div class="resource-attributes-actions">
        <span id="add-col" class="btn">AGREGAR OTRA COLUMNA</span>
        <span id="remove-col" class="btn hidden">BORRAR COLUMNA</span>
    </div>

</div>

{% resource 'gobar_js/forms/resource_form.js' %}
