{% set res = c.resource %}

{% if res %}
    {% set pkg = c.pkg_dict or pkg_dict %}
    <div class="resource-nav container-fluid">
        {% set with_datapusher = 'datapusher' in g.plugins %}
        <a href="{{ h.url_for('resource_edit', id=pkg.name, resource_id=res.id) }}">
            <div class="{{ 'col-xs-4' if with_datapusher else 'col-xs-6' }} {{ 'active' if current == 'edit' }}">
                Editar recurso
            </div>
        </a>
        {% if with_datapusher %}
            <a href="{{ h.url_for('resource_data', id=pkg.name, resource_id=res.id) }}">
                <div class="col-xs-4 {{ 'active' if current == 'datastore' }}">
                    DataStore
                </div>
            </a>
        {% endif %}
        <a href="{{ h.url_for('views', id=pkg.name, resource_id=res.id) }}">
            <div class="{{ 'col-xs-4' if with_datapusher else 'col-xs-6' }} {{ 'active' if current == 'views'}}">
                Vistas
            </div>
        </a>
    </div>
{% endif %}