<div id="resource-attributes-form">
    <div class="control-group control-full">
        <label class="control-label">Documentación del recurso</label>
        <p>
            Esto no se verá en el portal, pero ayuda al usuario a entender cuál es la información del recurso y cómo
            usarla.
        </p>
    </div>

    <div class="control-group control-full">
        <label class="control-label">Titulo de la columna</label>
        <div class="controls">
            <input class="resource-col-name" type="text" title="Titulo de la columna" placeholder="Ej: audiencia_fecha">
        </div>
    </div>

    <div class="control-group control-full">
        <label class="control-label">Tipo de dato</label>
        <div class="controls">
            <select class=resource-col-type"">
                <option>Poner opciones acá</option>
            </select>
        </div>
    </div>

    <div class="control-group control-full">
        <label class="control-label">Descripción de la columna</label>
        <textarea title="Descripción de la columna" class="resource-col-descrition"
                  placeholder="Ej: Fecha en la que se hizo una audiencia pública."></textarea>
    </div>
</div>