<div class="filters-container col-md-4">
    <div class="hidden-md hidden-lg hide-filters-button">
        <i class="icon-chevron-left"></i>
    </div>
    {{ h.snippet('package/snippets/search_facets_groups.html', title=c.facet_titles['groups'], name='groups') }}
    {{ h.snippet('package/snippets/search_facets.html', title='Por organizaciones', name='organization') }}
    {{ h.snippet('package/snippets/search_facets.html', title='Etiquetas', name='tags') }}
    <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>