<div class="filters-container hidden-xs hidden-sm col-md-4">
    {{ h.snippet('package/snippets/search_facets_groups.html', title=c.facet_titles['groups'], name='groups') }}
    {{ h.snippet('package/snippets/search_facets.html', title=c.facet_titles['organization'], name='organization') }}
    {{ h.snippet('package/snippets/search_facets.html', title=c.facet_titles['tags'], name='tags') }}
    <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>