{% extends "package/snippets/secondary_info_base.html" %}
{% block groups %}
    <div class="col-xs-7 value">
        {%- for group in pkg.groups %}
            <div class="group-img-container">
                <a href="{{ h.add_url_param(new_params={'groups': group.name}, alternative_url=dataset_url) }}">
                    {%- if group.image_display_url|length > 0 -%}
                        <img src="{{ h.cut_img_path(group.image_display_url) }}"
                             data-title="{{ group.title }}"
                             class="group-image" data-replace="svg">
                    {%- endif -%}
                </a>
            </div>
        {%- endfor %}
    </div>
{% endblock %}
