@import 'bourbon/bourbon';

@include keyframes(rotateClockwise) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include keyframes(rotateCounterClockwise) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg#background {
  position: absolute;
  width: 50%;
  right: 5%;
  top: 50%;
  margin-top: -25%;

  path {
    fill: #00B9F1;
  }
  circle {
    fill: none;
  }
  g {
    @include transform-origin(50% 50%);
    @include animation-delay(0);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);

    $super-slow-speed: 910s;
    $slow-speed: 450s;
    $medium-speed: 210s;
    $fast-speed: 90s;

    &#uno {
      opacity: 0.2;
      @include animation-duration($fast-speed);
      @include animation-name(rotateCounterClockwise);
    }
    &#dos {
      opacity: 1;
      @include animation-duration($medium-speed);
      @include animation-name(rotateClockwise);
    }
    &#tres {
      opacity: 0.6;
      @include animation-duration($medium-speed);
      @include animation-name(rotateClockwise);
    }
    &#cuatro {
      opacity: 0.2;
      @include animation-duration($fast-speed);
      @include animation-name(rotateCounterClockwise);
    }
    &#cinco {
      opacity: 1;
      @include animation-duration($slow-speed);
      @include animation-name(rotateClockwise);
    }
    &#seis {
      opacity: 0.2;
      @include animation-duration($slow-speed);
      @include animation-name(rotateCounterClockwise);
    }
    &#siete {
      opacity: 0.2;
      @include animation-duration($medium-speed);
      @include animation-name(rotateCounterClockwise);
    }
    &#ocho {
      opacity: 0.4;
      @include animation-duration($slow-speed);
      @include animation-name(rotateCounterClockwise);
    }
    &#nuevea {
      opacity: 0.2;
      @include animation-duration($slow-speed);
      @include animation-name(rotateCounterClockwise);
    }
    &#nueveb {
      opacity: 0.2;
      @include animation-duration($slow-speed);
      @include animation-name(rotateClockwise);
    }
    &#trece {
      opacity: 0.4;
      @include animation-duration($slow-speed);
      @include animation-name(rotateClockwise);
    }
    &#once {
      opacity: 0.2;
      @include animation-duration($slow-speed);
      @include animation-name(rotateClockwise);
    }
    &#doce {
      opacity: 0.2;
      @include animation-duration($slow-speed);
      @include animation-name(rotateClockwise);
    }
    &#catorce {
      opacity: 0.2;
      @include animation-duration($medium-speed);
      @include animation-name(rotateClockwise);
    }
    &#quince {
      opacity: 0.2;
      @include animation-duration($slow-speed);
      @include animation-name(rotateClockwise);
    }
    &#diez {
      opacity: 0.1;
      @include animation-duration($super-slow-speed);
      @include animation-name(rotateCounterClockwise);
    }
    &#dieciseis {
      opacity: 0.1;
      @include animation-duration($super-slow-speed);
      @include animation-name(rotateCounterClockwise);
    }
  }

}
