.btn {
  color: white;
  border: none;
  @include border-radius(4px);
  text-shadow: none;
  font-weight: 400;
  margin-left: 10px;
  background: $grey-300;

  &:focus {
    color: white;
  }

  &:hover, &:active, &:focus {
    background: $grey-400;
    color: white;
  }

  &.btn-blue {
    background: $blue-300;
    &:hover, &:active, &:focus {
      background: $blue-200;
      color: white;
    }
  }

  &.btn-red {
    background: $red-300;
    &:hover, &:active, &:focus {
      background: $red-200;
    }
  }

  &.btn-green {
    background: $green-300;
    &:hover, &:active, &:focus {
      background: $green-200;
    }
  }

  &.btn-transparent {
    background: transparent;
    color: $blue-300;
    border: none;
    box-shadow: none;
    &:hover {
      color: $blue-200;
    }
  }

}