#error {
  @include base-container();
  height: 100%;
  #error-text {
    @include base-content();
    text-align: center;
    height: 100%;
    #error-code {
      padding: 50px 0;
      font-weight: 300;
      line-height: 0;
      $width: 100% / 32;
      .circle-container, .separator {
        position: relative;
        display: inline-block;
        width: $width;
        padding-bottom: $width;
      }
      .circle-container {
        .circle-gutter {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 2px;
          top: 0;
          left: 0;
          .circle-background {
            width: 100%;
            height: 100%;
            background: $blue-300;
            @include border-radius(15%);
            @include transition-duration(800ms);
            @include transition-property(opacity);
            @include transition-delay(0s);
            @include transition-timing-function(linear);
            opacity: 0;
            &.visible {
              opacity: 1;
            }
            &.different {
              opacity: 0.75;
            }
          }
        }

      }
    }
  }
}