#footer {
  padding: 0;
  position: relative;
  z-index: 10;
  @include box-shadow(0 -2px 4px 0 rgba(220, 220, 220, 0.5));
  #footer-spacer {
    padding: 20px 0;

    @include breakpoint-sm {
      padding: 50px 0;
    }

    .footer-section {
      color: $blue-300;
      font-size: 16px;
      font-weight: 500;
      text-align: center;

      &.logo {
        img {
          max-width: 300px;
          margin-bottom: 20px;
        }
        a.social-link {
          display: inline-block;
          @include border-radius(4px);
          padding: 8px;
          text-align: center;
          width: 46px;
          height: 46px;
          i {
            display: inline-block;
            font-size: 28px;
          }
          &:hover {
            background: $blue-300;
            color: white;
          }
        }
      }

      &.links-internos {
        a:hover {
          color: $blue-200;
        }
      }

      &.links-externos {


        @include breakpoint-sm {
          text-align: right;
        }

        a {
          display: inline-block;
          text-align: left;
        }

        .ckan-link {
          margin: 0;
          color: $grey-400;
        }
        .ckan-name {
          color: $blue-300;
          &:hover {
            color: $blue-200;
          }
          @include breakpoint-sm {
            display: block;
          }
        }
      }

      @include breakpoint-sm {
        text-align: left;
      }

    }
  }
}