$footer-height: 230px;

.footer-down {
  position: relative;
  padding-bottom: $footer-height;
  min-height: 100%;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

#footer {
  padding: 0;
  position: absolute;
  background: white;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  z-index: 10;
  @include box-shadow(0 -2px 4px 0 rgba(220, 220, 220, 0.5));
  #footer-spacer {
    padding: 20px 0;

    @include breakpoint-sm {
      padding: 50px 0;
    }

    .footer-section {
      color: $blue-300;
      font-size: 16px;
      font-weight: 500;
      text-align: center;

      &.logo {
        .logo-edit-container {
          padding-right: 30px;
          position: relative;
          display: inline;

          svg.edit-svg {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 0;
            top: 0;
          }
          img {
            max-width: 300px;
            margin-bottom: 20px;
          }
        }
        svg.edit-svg path {
          fill: $grey-300;
        }
        a.social-link {
          display: inline-block;
          @include border-radius(4px);
          padding: 8px;
          text-align: center;
          width: 46px;
          height: 46px;
          i {
            display: inline-block;
            font-size: 28px;
          }
          &:hover {
            background: $blue-300;
            color: white;
          }
        }
      }

      &.links-internos {
        a:hover {
          color: $blue-200;
        }
      }

      &.links-externos {
        text-align: right;

        .ckan-link {
          margin: 0;
          color: $grey-400;
          text-align: right;
        }
        .ckan-name {
          color: $blue-300;
          &:hover {
            color: $blue-200;
          }
        }
      }

      @include breakpoint-sm {
        text-align: left;
      }

    }
  }
}