$header-height: 72px;

@include breakpoint-sm {
  body {
    padding-top: $header-height
  }
}


#header {
  background: white;
  padding: 0;
  @include box-shadow(0 0 12px 0 rgba(0, 0, 0, 0.5));
  position: relative;
  white-space: nowrap;
  z-index: 4;

  @include breakpoint-sm {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #header-spacing {
    $padding: 20px;
    padding: 0 $padding;

    .logo-header, .header-links {
      height: $header-height;
      $font-size: 18px;
      font-size: $font-size;
      line-height: $header-height / $font-size;

      svg.edit-svg path {
        fill: $grey-300;
      }
    }

    .header-links {
      display: none;
      text-align: right;
      @include breakpoint-sm {
        display: block;
      }

      .header-link {
        color: $blue-300;
        margin: 0;
        padding: 0 0.3em;
        font-size: 85%;
        line-height: $header-height;
        display: inline-block;
        height: 100%;
        cursor: pointer;
        vertical-align: bottom;
        @include breakpoint-sm {
          &:hover, &.active {
            background: $blue-300;
            color: white;
          }
        }
        @include breakpoint-md {
          padding: 0 0.5em;
          font-size: 100%;
        }
      }

      .header-link.dropdown {
        position: relative;

        .caret {
          margin-bottom: 8px;
        }

        ul {
          margin: 0;
          display: none;
          position: absolute;
          right: 0;
          width: 250px;
          background-color: $blue-300;
          color: white;
          list-style-type: none;
          text-align: left;
          bottom: -160px;
          @include box-shadow(0 5px 14px -4px rgba(0, 0, 0, 0.5));

          a {
            li {
              height: 40px;
              line-height: 26px;
              padding: 7px 14px;
              color: white;
              &:hover {
                background: $blue-200;
              }
            }
          }
        }

        &.active ul {
          display: block;
        }
      }
    }

    .logo-header {
      &.showing-nav {
        height: auto;
      }

      .logo-and-xs-icon {
        position: relative;
        padding-left: 50px;
        @include breakpoint-sm {
          padding-left: 0;
        }
      }

      .icon-reorder {
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 0;
        $size: 40px;
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        margin-top: - $size / 2;
        border: none;
        @include border-radius(4px);
        color: $blue-300;
        &:hover, &.active {
          color: white;
          background: $blue-300;
        }
        @include breakpoint-sm {
          display: none;
        }
      }

      .xs-navbar {
        padding-bottom: 10px;
        @include breakpoint-sm {
          display: none;
        }
        .navbar-link {
          line-height: initial;
          padding: 10px;
          color: $blue-300;
          &:hover {
            background: $blue-300;
            color: white;
            cursor: pointer;
            a {
              color: white;
            }
          }
        }
        .dropdown-navbar .navbar-link {
          padding-left: 15px;
        }
      }
      .logo-ministerio {
        height: 100%;
        width: 300px;
        max-width: 100%;
      }
    }
  }
}