@import 'utils/globals';
@import 'utils/mixins';

$header-height: 50px;

#header {
  height: $header-height;
  background: $dark-blue;
  $font-size: 18px;
  font-size: $font-size;
  line-height: $header-height / $font-size;
  text-align: right;
  padding: 0;
  @include box-shadow(0 0 12px 0 rgba(0, 0, 0, 0.5));
  position: relative;
  z-index: 2;

  #header-spacing {
    $padding: 20px;
    padding: 0 $padding;

    .logo-ministerio {
      height: $header-height;
      position: absolute;
      top: 0;
      left: $padding;
    }

    a {
      color: white;
      margin-left: 1em;
    }
  }
}