.modal-open {
  .modal {
    width: 50%;
    max-height: 80%;
    position: fixed;
    top: 10% !important;
    bottom: inherit;
    left: 25%;
    right: inherit;
    margin: 0 !important;
    padding: 0 !important;

  }
}

.modal-backdrop.in {
  background: white;
  opacity: 0.8;
}

.modal {
  border: none;
  @include border-radius(4px);

  .modal-dialog {
    width: 100%;
    margin: 0;
  }

  .modal-content {
    @include border-radius(4px);
  }

  .modal-body {
    padding: 30px;
    h1 {
      margin: 0 0 10px 0;
      text-align: center;
      color: $blue-300;
      font-weight: 400;
    }
    p {
      font-size: 18px;
      text-align: center;
      margin: 0 0 10px 0;
    }
    .modal-actions {
      text-align: center;
      margin: 30px 0 0 0;
    }
  }
}