@import 'utils/globals';
@import 'utils/mixins';

#about, #specs, #terms, #contact {
  #about-text, #specs-text, #terms-text, #contact-text {
    @include base-container();
    h1 {
      margin: 20px 0;
      font-weight: 400;
      font-size: 40px;
    }
    h2 {
      font-weight: 400;
      font-size: 25px;
    }
    h3 {
      color: $dark-blue;
      font-size: 20px;
    }
    strong {
      font-weight: 500;
    }
  }
}

#contact-text {
  height: 600px;
}