// Para compilar correr (parado en esta carpeta):
// sass style.scss:../css/gobar_style.css
// Para compilar y quedar escuchando cambios a los archivos (para desarrollo) correr:
// sass --watch style.scss:../css/gobar_style.css
@import 'fonts';

body {
  background: #fff;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  padding: 0;
}

a, a:hover {
  text-decoration: none !important;
}

@import 'header';
@import 'footer';
@import 'home/title';
@import 'home/featured_groups';
@import 'static';
@import 'error';
@import 'user/login';