{% extends "config/config_base.html" %}

{% block config %}
    <h1>Acerca (opcional)</h1>

    <form method="post" action="" data-module="basic-form">
        <label>
            <input type="checkbox" name="show-about" {{ 'checked="checked"' if h.get_theme_config('about.show-about') else '' }}>
            ¿Queres que esta sección se vea en tu portal?
        </label>

        <p>Título</p>
        {% set title = h.get_theme_config('about.title') %}
        <input name="about-title" type="text" title="Título" value="{{ title if title else '' }}">

        <p>Descripción</p>
        {% set description = h.get_theme_config('about.description') %}
        <textarea title="Descripción del acerca" name="about-description"
        >{{- description if description else '' -}}</textarea>

        <div class="submit-container">
            <button class="submit-button" type="submit" name="save">GUARDAR</button>
        </div>
    </form>
{% endblock %}