{% extends "gobar_page.html" %}


{% block content %}

    <div id="template-config-container" class="container-fluid">
        <div class="restricted-max-width">
            <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1">
                {% snippet "config/navbar.html" %}
                <div class="col-xs-12 col-md-8 main-config-container">
                    {% block config %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% resource 'gobar_js/config/radio_buttons.js' %}
    {% resource 'gobar_js/config/file_upload.js' %}

{% endblock %}