{% extends "config/config_base.html" %}

{% block config %}
    <h1>Redes sociales y contacto</h1>

    <form id="social-config" method="post" action="" data-module="basic-form">
        <p>
            Por favor, cargá las URL's de tus redes sociales y tu mail oficial
            de contacto. Si no tenés alguno, dejalo en blanco y no se mostrará en la pagina.
        </p>

        <p>Facebook</p>
        {% set fb = h.get_theme_config('social.fb') %}
        <input type="text" title="Facebook" id="fb" name="fb" value="{{- fb if fb else '' -}}">

        <p>Twitter</p>
        {% set tw = h.get_theme_config('social.tw') %}
        <input type="text" title="Twitter" id="tw" name="tw" value="{{- tw if tw else '' -}}">

        <p>GitHub</p>
        {% set github = h.get_theme_config('social.github') %}
        <input type="text" title="GitHub" id="git" name="github" value="{{- github if github else '' -}}">

        <p>Instagram</p>
        {% set inst = h.get_theme_config('social.inst') %}
        <input type="text" title="Instagram" id="inst" name="inst" value="{{- inst if inst else '' -}}">

        <p>Youtube</p>
        {% set yt = h.get_theme_config('social.yt') %}
        <input type="text" title="Youtube" id="yt" name="yt" value="{{- yt if yt else '' -}}">

        <p>Mail de contacto</p>
        {% set mail = h.get_theme_config('social.mail') %}
        <input type="text" title="Mail de contacto" id="mail" name="mail" value="{{- mail if mail else '' -}}">

        <div class="submit-container">
            <button class="submit-button" type="submit" name="save">GUARDAR</button>
        </div>
    </form>
{% endblock %}