{% extends "config/config_base.html" %}

{% block config %}

    <h1>Título, descripción e imagen del portal</h1>

    <form id="title-config" method="post" action="" data-module="basic-form" accept-charset="utf-8" enctype="multipart/form-data">
        <h2>Título</h2>
        <p>Podés usar, por ejemplo, Datos + el nombre o las siglas de tu organización.</p>
        {% set title = h.get_theme_config('title.site-title') %}
        <input name="site-title" type="text" title="Título del portal" placeholder="Título del portal"
               id="site-title" value="{{ title if title else '' }}">

        <h2>Descripción del portal</h2>
        <p>Tené en cuenta que esta es la explicación que le das a tus usuarios sobre lo que van a encontrar en tu portal.</p>
        {% set description = h.get_theme_config('title.site-description') %}
        <textarea name="site-description" id="description" title="Descripción del portal"
                  placeholder="Describí el portal. Explicá de qué se trata tu catálogo de datos. Por favor, hacelo en no más de tres líneas."
        >{{- description if description else '' -}}</textarea>

        <h2>Imagen de fondo</h2>
        {% set image = h.get_theme_config('title.background-image') %}
        <div class="file-upload-container {{ 'with-image' if image else '' }}">
            <i class="icon-remove-sign" aria-hidden="true"></i>
            <input type="text" disabled placeholder="Subí tu archivo" id="filename" class="filename-input" value="{{ image if image else '' }}">
            <input type="file" id="background-image" name="background-image">
            <input type="hidden" name="image-logic" id="image-logic" value="">
            <label for="background-image">
                <span class="upload-file-button">ELEGIR</span>
            </label>
            <p>*Por favor, elegí formato .JPG, .SVG o .PNG.</p>
        </div>

        <div class="submit-container">
            <button class="submit-button" type="submit" name="save">GUARDAR</button>
        </div>
    </form>

{% endblock %}