{% extends "config/config_base.html" %}

{% block config %}
    {% set config = h.template_config() %}

    <h1>Formato de la portada</h1>

    <form method="post" action="" data-module="basic-form">
        <h2 class="blue">¿Cómo te gustaría que se vea tu portada?</h2>
        <p>Podés elegir la alineación del título y la descripción, y mostrar (o no) la cantidad de datasets u organizaciones con datos.</p>

        <div class="container-fluid checkboxes-container">
            <label class="img-checkbox col-xs-12 col-md-6">
                <div class="checkbox-box">
                    <img src="/img/config/portada1.svg" class="logo-ministerio">
                    <div class="checkbox-description">
                        Mostrar cantidad de datasets y alinear a la izquierda
                    </div>
                    <input type="checkbox" name="home">
                </div>
            </label>

            <label class="img-checkbox col-xs-12 col-md-6">
                <div class="checkbox-box">
                    <img src="/img/config/portada3.svg" class="logo-ministerio">
                    <div class="checkbox-description">
                        Mostrar cantidad de datasets y organizaciones con datos. Y alinear a la izquierda.
                    </div>
                    <input type="checkbox" name="home">
                </div>
            </label>

            <label class="img-checkbox col-xs-12 col-md-6">
                <div class="checkbox-box">
                    <img src="/img/config/portada2.svg" class="logo-ministerio">
                    <div class="checkbox-description">
                        Sólo centrar título y descripción del portal.
                    </div>
                    <input type="checkbox" name="home">
                </div>
            </label>

            <label class="img-checkbox col-xs-12 col-md-6">
                <div class="checkbox-box">
                    <img src="/img/config/portada4.svg" class="logo-ministerio">
                    <div class="checkbox-description">
                        Mostrar cantidad de datasets, organizaciones con datos y temas. Y centrar
                    </div>
                    <input type="checkbox" name="home">
                </div>
            </label>
        </div>


        <div class="submit-container">
            <button class="submit-button" type="submit" name="save">GUARDAR</button>
        </div>
    </form>

{% endblock %}