{% extends "gobar_page.html" %}
{% import 'macros/form.html' as form %}

{% set config = h.template_config() %}

{% block content %}
<div id="template-config-container" class="container-fluid">
  <div class="restricted-max-width">
    <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1">
      <h1>Editar configuracion</h1>
      <form id="config-edit" class="config-form form-horizontal" method="post" action="" data-module="basic-form">

        <h2>Pagina de inicio</h2>

        <div class="title-options">
          <label class="col-xs-4" for="title1">
            <img src="/img/home_title_1.png">
            Variante 1
            <input type="radio" name="title-variant" {{ 'checked' if config['home_title_template'] == 1 else '' }} value="1" id="title1">
          </label>

          <label class="col-xs-4" for="title2">
            <img src="/img/home_title_2.png">
            Variante 2
            <input type="radio" name="title-variant" {{ 'checked' if config['home_title_template'] == 2 else '' }} value="2" id="title2">
          </label>

          <label class="col-xs-4" for="title3">
            <img src="/img/home_title_3.png">
            Variante 3
            <input type="radio" name="title-variant" {{ 'checked' if config['home_title_template'] == 3 else '' }} value="3" id="title3">
          </label>
        </div>

        <label class="title-text">
          Titulo home
          <input type="text" value="{{ config['home_title'] }}" name="home_title">
        </label>
        <label class="title-description">
          Bajada home
          <textarea name="home_description">{{ config['home_description'] }}</textarea>
        </label>

        <hr>

        <h2>Buscador de datasets</h2>
        <label class="title-description">
          Bajada titulo
          <textarea name="dataset_description">{{ config['dataset_description'] }}</textarea>
        </label>

        <hr>

        <h2>Organizaciones</h2>

        <label class="title-description">
          Bajada titulo
          <textarea name="organization_description">{{ config['organization_description'] }}</textarea>
        </label>

        <hr>

        <h2>Footer</h2>
        <label>
          Facebook
          <input type="text" name="facebook_link" value="{{ config['facebook_link'] }}">
        </label>
        <label>
          Twitter
          <input type="text" name="twitter_link" value="{{ config['twitter_link'] }}">
        </label>
        <label>
          Github
          <input type="text" name="github_link" value="{{ config['github_link'] }}">
        </label>
        <label>
          Instagram
          <input type="text" name="instagram_link" value="{{ config['instagram_link'] }}">
        </label>
        <label>
          Youtube
          <input type="text" name="youtube_link" value="{{ config['youtube_link'] }}">
        </label>
        <button class="btn btn-primary" type="submit" name="save">Guardar</button>

      </form>
    </div>
  </div>
</div>
{% endblock %}


