<div id="navbar" class="col-xs-12 col-md-4">

    <h2>Página de inicio</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_title') }}"
            class="section-link {{ 'active' if c.action == 'edit_title' else '' }}">
            Título, descripción e imagen del portal
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_home') }}"
            class="section-link {{ 'active' if c.action == 'edit_home' else '' }}">
            Formato de la portada
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_groups') }}"
            class="section-link {{ 'active' if c.action == 'edit_groups' else '' }}">
            Formato de los temas
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_header') }}"
           class="section-link {{ 'active' if c.action == 'edit_header' else '' }}">
            Logo del encabezado
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_social') }}"
           class="section-link {{ 'active' if c.action == 'edit_social' else '' }}">
            Redes sociales y contacto
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_footer') }}"
           class="section-link {{ 'active' if c.action == 'edit_footer' else '' }}">
            Logo del pie de página
        </a>
    </div>

    <h2>Otras secciones del portal</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_datasets') }}"
           class="section-link {{ 'active' if c.action == 'edit_datasets' else '' }}">
            Datasets
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_organizations') }}"
           class="section-link {{ 'active' if c.action == 'edit_organizations' else '' }}">
            Organizaciones con datasets (opcional)
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_about') }}"
           class="section-link {{ 'active' if c.action == 'edit_about' else '' }}">
            Acerca (opcional)
        </a>
    </div>

    <h2>Metadatos</h2>
    <div class="links-section">
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_metadata_google_fb') }}"
           class="section-link {{ 'active' if c.action == 'edit_metadata_google_fb' else '' }}">
            Google y Facebook
        </a>
        <a href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_metadata_tw') }}"
           class="section-link {{ 'active' if c.action == 'edit_metadata_tw' else '' }}">
            Twitter
        </a>
    </div>

    <div class="links-section guide-link">
        ¿Dudas? Tené a mano la <a class="inline" href="https://github.com/datosgobar">guía de uso</a>.
    </div>
</div>
