#template-config-container {
  @include base-container();
  #template-config {
    @include base-content();
    @include base-form();

    label:after {
      content: none;
    }
    .title-options {
      display: table;
      label {
        float: none;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        input {
          position: static;
          margin: 0;
        }
      }
    }
    textarea {
      width: 100%;
    }
  }
}