/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/font/roboto_light_latin_ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/font/roboto_light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/font/roboto_normal_latin_ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/font/roboto_normal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/roboto_medium_latin_ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/roboto_medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  background: #fff;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  padding: 0; }

a, a:hover {
  text-decoration: none !important; }

#header {
  height: 50px;
  background: #0072bc;
  font-size: 20px;
  line-height: 2.5;
  text-align: right;
  padding: 0;
  -o-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2; }
  #header #header-spacing {
    padding: 0 20px; }
    #header #header-spacing .logo-ministerio {
      height: 50px;
      position: absolute;
      top: 0;
      left: 20px; }
    #header #header-spacing a {
      color: white;
      margin-left: 1em; }

#footer {
  padding: 0;
  position: relative;
  -o-box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5); }
  #footer #footer-spacer {
    padding: 0; }
    #footer #footer-spacer .footer-section {
      height: 200px;
      color: #0072bc;
      font-size: 14px;
      font-weight: 500; }
      #footer #footer-spacer .footer-section.logo .logo-ministerio {
        height: 60px;
        margin: 60px 0 80px 0; }
      #footer #footer-spacer .footer-section.links-internos {
        padding-top: 50px; }
        #footer #footer-spacer .footer-section.links-internos p {
          margin: 0 0 5px 0; }
      #footer #footer-spacer .footer-section.links-externos {
        padding-top: 50px; }
        #footer #footer-spacer .footer-section.links-externos p {
          text-align: right; }
          #footer #footer-spacer .footer-section.links-externos p i {
            font-size: 28px;
            margin-left: 20px; }
          #footer #footer-spacer .footer-section.links-externos p .ckan-logo {
            height: 22px;
            vertical-align: bottom;
            margin-left: 6px; }

#title {
  padding: 20px 0;
  color: white;
  background-color: #00B9F1;
  background-image: -webkit-linear-gradient(left, #00B9F1, #0072bc);
  background-image: linear-gradient(to right,#00B9F1, #0072bc);
  background-image: url("/img/title-background.svg");
  background-image: url("/img/title-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #title #title-container h1 {
    font-size: 50px;
    font-weight: 400; }
  #title #title-container .description {
    margin-bottom: 30px; }
  #title #searcher {
    position: absolute;
    bottom: 0;
    left: 25px;
    padding: 0; }
    #title #searcher form {
      padding: 0;
      border: none; }
      #title #searcher form input[type="text"] {
        background: transparent;
        border: none;
        width: 100%;
        color: white;
        -o-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: solid 1px white;
        padding: 10px;
        font-size: 24px;
        line-height: 1.2;
        height: 38.8px; }
        #title #searcher form input[type="text"]::-webkit-input-placeholder {
          color: white; }
        #title #searcher form input[type="text"]::-moz-placeholder {
          color: white; }
        #title #searcher form input[type="text"]:-moz-placeholder {
          color: white; }
        #title #searcher form input[type="text"]:-ms-input-placeholder {
          color: white; }
      #title #searcher form button {
        background: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 38.8px; }
        #title #searcher form button i {
          color: #C7EAFB;
          font-size: 24px; }
  #title #stats {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-right: 0; }
    @media (min-width: 992px) {
      #title #stats {
        text-align: right;
        margin-bottom: 0; } }
    #title #stats > div {
      padding-right: 0; }
    #title #stats .stat {
      font-size: 90px;
      margin: 0;
      line-height: 0.8;
      font-weight: 300; }
    #title #stats .stats-legend {
      font-size: 20px; }
      #title #stats .stats-legend.datasets {
        margin-bottom: 40px; }

.featured-groups {
  padding: 50px 0;
  text-align: center; }
  .featured-groups .create-group {
    text-align: right;
    margin-bottom: 35px; }
  .featured-groups .group-container {
    margin-bottom: 35px;
    padding: 0 5px;
    float: none;
    display: inline-block;
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear; }
    .featured-groups .group-container.invisible {
      opacity: 0; }
    .featured-groups .group-container .group {
      position: relative;
      background: white;
      z-index: 2;
      border: solid 0 transparent;
      overflow: hidden;
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -o-box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
      -moz-box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
      -webkit-box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
      box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5); }
      .featured-groups .group-container .group .group-text {
        border-bottom: solid 5px #0072bc;
        padding: 15px 10px;
        position: relative;
        overflow: hidden; }
        .featured-groups .group-container .group .group-text img {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          left: 10px;
          margin-top: -25px; }
        .featured-groups .group-container .group .group-text .group-table {
          padding-left: 60px;
          overflow: hidden;
          display: table;
          text-align: left;
          font-size: 14px;
          line-height: 1.2;
          height: 50.4px; }
          .featured-groups .group-container .group .group-text .group-table .group-cell {
            display: table-cell;
            vertical-align: middle; }
      .featured-groups .group-container .group.inactive {
        color: #D1D3D4; }
        .featured-groups .group-container .group.inactive .group-text {
          border-bottom-color: #D1D3D4; }
    .featured-groups .group-container .edit-container {
      position: absolute;
      z-index: 1;
      top: -5px;
      right: 10px;
      overflow: hidden;
      padding: 4px;
      background: #D1D3D4;
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      transition-delay: 0;
      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      transition-duration: 200ms;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-property: top;
      -moz-transition-property: top;
      transition-property: top; }
      .featured-groups .group-container .edit-container .edit-svg {
        height: 20px;
        width: 20px;
        fill: white; }
    .featured-groups .group-container:hover .edit-container {
      top: -28px; }

#about #about-text, #about #specs-text, #about #terms-text, #specs #about-text, #specs #specs-text, #specs #terms-text, #terms #about-text, #terms #specs-text, #terms #terms-text {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px; }
  #about #about-text h1, #about #specs-text h1, #about #terms-text h1, #specs #about-text h1, #specs #specs-text h1, #specs #terms-text h1, #terms #about-text h1, #terms #specs-text h1, #terms #terms-text h1 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 40px; }
  #about #about-text h2, #about #specs-text h2, #about #terms-text h2, #specs #about-text h2, #specs #specs-text h2, #specs #terms-text h2, #terms #about-text h2, #terms #specs-text h2, #terms #terms-text h2 {
    font-weight: 400;
    font-size: 25px; }
  #about #about-text h3, #about #specs-text h3, #about #terms-text h3, #specs #about-text h3, #specs #specs-text h3, #specs #terms-text h3, #terms #about-text h3, #terms #specs-text h3, #terms #terms-text h3 {
    color: #0072bc;
    font-size: 20px; }
  #about #about-text strong, #about #specs-text strong, #about #terms-text strong, #specs #about-text strong, #specs #specs-text strong, #specs #terms-text strong, #terms #about-text strong, #terms #specs-text strong, #terms #terms-text strong {
    font-weight: 500; }

#error #error-text {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px;
  text-align: center; }
  #error #error-text #error-code {
    padding: 50px 0;
    font-weight: 300;
    line-height: 0; }
    #error #error-text #error-code .circle-container, #error #error-text #error-code .separator {
      position: relative;
      display: inline-block;
      width: 3.125%;
      padding-bottom: 3.125%; }
    #error #error-text #error-code .circle-container .circle-gutter {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 2px;
      top: 0;
      left: 0; }
      #error #error-text #error-code .circle-container .circle-gutter .circle-background {
        width: 100%;
        height: 100%;
        background: #0072bc;
        -o-border-radius: 15%;
        -moz-border-radius: 15%;
        -webkit-border-radius: 15%;
        border-radius: 15%;
        -webkit-transition-duration: 800ms;
        -moz-transition-duration: 800ms;
        transition-duration: 800ms;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        transition-delay: 0;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        transition-timing-function: linear;
        opacity: 0; }
        #error #error-text #error-code .circle-container .circle-gutter .circle-background.visible {
          opacity: 1; }
        #error #error-text #error-code .circle-container .circle-gutter .circle-background.different {
          opacity: 0.75; }

#login-container #login {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px; }
  #login-container #login h1 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 40px; }
  #login-container #login form {
    padding: 20px 50px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    -moz-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5); }
    #login-container #login form label {
      display: block;
      text-align: left;
      font-weight: 400;
      padding: 5px 20px 5px 0;
      font-size: 16px;
      line-height: 1.2; }
    #login-container #login form input[type="text"], #login-container #login form input[type="password"] {
      width: 100%;
      font-size: 16px;
      line-height: 1.2;
      padding: 5px;
      height: 29.2px; }
    #login-container #login form input[type="checkbox"] {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); }
    #login-container #login form .controls {
      display: block;
      margin: 0; }
    #login-container #login form .control-custom {
      display: none; }
  #login-container #login form label {
    width: 50%;
    padding: 5px 20px 5px 0;
    font-size: 16px;
    line-height: 1.2; }
  #login-container #login form .controls {
    margin-left: 50%; }

.organization-container .organization {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px; }
  .organization-container .organization .add-organization {
    text-align: right;
    margin-bottom: 20px; }
  .organization-container .organization .organization-list {
    padding: 0;
    margin: 0;
    font-size: 16px; }
    .organization-container .organization .organization-list .organization-list-title {
      font-weight: 500;
      padding: 5px;
      border-bottom: solid 1px #D1D3D4; }
      .organization-container .organization .organization-list .organization-list-title .count-title {
        float: right; }
    .organization-container .organization .organization-list .organization-item {
      border-bottom: solid 1px #D1D3D4; }
      .organization-container .organization .organization-list .organization-item p {
        padding: 5px;
        margin: 0; }
        .organization-container .organization .organization-list .organization-item p svg {
          width: 1em;
          height: 1em; }
          .organization-container .organization .organization-list .organization-item p svg path {
            fill: #D1D3D4; }
        .organization-container .organization .organization-list .organization-item p.top-organization {
          color: #0072bc;
          font-weight: 500;
          font-size: 18px; }
      .organization-container .organization .organization-list .organization-item .organization-count {
        float: right;
        font-weight: 500;
        margin-right: 10px; }
      .organization-container .organization .organization-list .organization-item:hover {
        background: #D1D3D4; }
        .organization-container .organization .organization-list .organization-item:hover svg path {
          fill: #58595B; }

/* Extiende ../home/title */
#title.organization-title {
  padding-bottom: 40px; }
  #title.organization-title #title-container .description {
    margin: 0; }
  #title.organization-title #stats .stats-legend {
    margin: 0; }

#edit-organization-container #edit-organization, #edit-organization-container #new-organization, #new-organization-container #edit-organization, #new-organization-container #new-organization {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px; }
  #edit-organization-container #edit-organization h1, #edit-organization-container #new-organization h1, #new-organization-container #edit-organization h1, #new-organization-container #new-organization h1 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 40px; }
  #edit-organization-container #edit-organization form, #edit-organization-container #new-organization form, #new-organization-container #edit-organization form, #new-organization-container #new-organization form {
    padding: 20px 50px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    -moz-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5); }
    #edit-organization-container #edit-organization form label, #edit-organization-container #new-organization form label, #new-organization-container #edit-organization form label, #new-organization-container #new-organization form label {
      display: block;
      text-align: left;
      font-weight: 400;
      padding: 5px 20px 5px 0;
      font-size: 16px;
      line-height: 1.2; }
    #edit-organization-container #edit-organization form input[type="text"], #edit-organization-container #edit-organization form input[type="password"], #edit-organization-container #new-organization form input[type="text"], #edit-organization-container #new-organization form input[type="password"], #new-organization-container #edit-organization form input[type="text"], #new-organization-container #edit-organization form input[type="password"], #new-organization-container #new-organization form input[type="text"], #new-organization-container #new-organization form input[type="password"] {
      width: 100%;
      font-size: 16px;
      line-height: 1.2;
      padding: 5px;
      height: 29.2px; }
    #edit-organization-container #edit-organization form input[type="checkbox"], #edit-organization-container #new-organization form input[type="checkbox"], #new-organization-container #edit-organization form input[type="checkbox"], #new-organization-container #new-organization form input[type="checkbox"] {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); }
    #edit-organization-container #edit-organization form .controls, #edit-organization-container #new-organization form .controls, #new-organization-container #edit-organization form .controls, #new-organization-container #new-organization form .controls {
      display: block;
      margin: 0; }
    #edit-organization-container #edit-organization form .control-custom, #edit-organization-container #new-organization form .control-custom, #new-organization-container #edit-organization form .control-custom, #new-organization-container #new-organization form .control-custom {
      display: none; }
  #edit-organization-container #edit-organization form .image-upload, #edit-organization-container #new-organization form .image-upload, #new-organization-container #edit-organization form .image-upload, #new-organization-container #new-organization form .image-upload {
    display: none; }

.package-container .package-search {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px;
  padding: 0; }

#search-results .add-dataset {
  text-align: right;
  margin-top: 20px; }
#search-results .search-and-order {
  padding: 0;
  border: none;
  margin-top: 20px; }
  #search-results .search-and-order .searcher {
    padding: 0; }
    #search-results .search-and-order .searcher input {
      background: transparent;
      border: none;
      width: 100%;
      -o-box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: solid 1px #D1D3D4;
      padding: 10px;
      font-size: 16px;
      line-height: 1.2;
      height: 29.2px; }
      #search-results .search-and-order .searcher input::-webkit-input-placeholder {
        color: #58595B; }
      #search-results .search-and-order .searcher input::-moz-placeholder {
        color: #58595B; }
      #search-results .search-and-order .searcher input:-moz-placeholder {
        color: #58595B; }
      #search-results .search-and-order .searcher input:-ms-input-placeholder {
        color: #58595B; }
    #search-results .search-and-order .searcher button {
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 29.2px; }
      #search-results .search-and-order .searcher button i {
        color: #58595B;
        font-size: 16px; }
  #search-results .search-and-order .order {
    text-align: right; }
    #search-results .search-and-order .order label {
      font-weight: 500;
      font-size: 16px;
      padding-right: 5px;
      max-width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #search-results .search-and-order .order select {
      max-width: 50%; }
#search-results .search-error strong {
  font-weight: 500; }

.filters-container {
  background: #fafafa;
  border-right: solid 1px #D1D3D4;
  padding: 30px 0; }
  .filters-container .search-filter h2.filter-title {
    font-size: 20px;
    font-weight: 500;
    padding: 0 15px; }
  .filters-container .search-filter p.filter-empty {
    color: #D1D3D4;
    font-size: 16px;
    padding: 0 25px; }
  .filters-container .search-filter a.filter-show-less, .filters-container .search-filter a.filter-show-more {
    color: #D1D3D4; }
    .filters-container .search-filter a.filter-show-less p, .filters-container .search-filter a.filter-show-more p {
      padding: 5px 25px;
      text-align: center;
      margin: 0;
      background: transparent; }
      .filters-container .search-filter a.filter-show-less p .arrow-up, .filters-container .search-filter a.filter-show-less p .arrow-down, .filters-container .search-filter a.filter-show-more p .arrow-up, .filters-container .search-filter a.filter-show-more p .arrow-down {
        width: 12px;
        height: 12px; }
    .filters-container .search-filter a.filter-show-less:hover, .filters-container .search-filter a.filter-show-more:hover {
      color: #58595B; }
      .filters-container .search-filter a.filter-show-less:hover p, .filters-container .search-filter a.filter-show-more:hover p {
        background: #D1D3D4; }
        .filters-container .search-filter a.filter-show-less:hover p .arrow-up path, .filters-container .search-filter a.filter-show-less:hover p .arrow-down path, .filters-container .search-filter a.filter-show-more:hover p .arrow-up path, .filters-container .search-filter a.filter-show-more:hover p .arrow-down path {
          fill: #58595B; }
  .filters-container .search-filter hr {
    margin: 20px;
    border: none;
    border-top: solid 1px #D1D3D4; }
  .filters-container .search-filter a.filter-show-more + hr, .filters-container .search-filter a.filter-less-more + hr {
    margin: 0; }
  .filters-container .search-filter ul {
    list-style: none;
    margin: 0; }
    .filters-container .search-filter ul a {
      color: inherit; }
      .filters-container .search-filter ul a li {
        padding: 5px 25px;
        position: relative;
        background: transparent;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        transition-delay: 0;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        transition-property: background;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-duration: 150ms;
        -moz-transition-duration: 150ms;
        transition-duration: 150ms; }
        .filters-container .search-filter ul a li:hover {
          background: #D1D3D4; }
        .filters-container .search-filter ul a li .close-filter {
          display: none; }
        .filters-container .search-filter ul a li.active {
          background: #C7EAFB;
          border-left: solid 5px #0072bc;
          padding-left: 20px; }
          .filters-container .search-filter ul a li.active .close-filter {
            display: inline-block;
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -10px;
            width: 20px;
            height: 20px; }
  .filters-container .search-filter .group-images {
    padding: 0 25px; }
    .filters-container .search-filter .group-images .group-image-container {
      width: 16.666666%;
      display: inline-block;
      padding: 4px;
      text-align: center; }
      .filters-container .search-filter .group-images .group-image-container svg {
        max-width: 50px; }
        .filters-container .search-filter .group-images .group-image-container svg path {
          fill: #eaeced; }
      .filters-container .search-filter .group-images .group-image-container.available svg path {
        fill: #D1D3D4; }
      .filters-container .search-filter .group-images .group-image-container.available:hover svg path {
        fill: #0072bc; }
      .filters-container .search-filter .group-images .group-image-container.active svg path {
        fill: #0072bc; }
      .filters-container .search-filter .group-images .group-image-container.active:hover svg path {
        fill: #D1D3D4; }

.dataset-list .dataset-item .dataset-container {
  padding: 0;
  border: solid 0 transparent;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -o-box-shadow: 0 0px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 0px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 0px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 0px 4px 0 rgba(150, 150, 150, 0.5);
  margin-bottom: 15px;
  overflow: hidden; }
  .dataset-list .dataset-item .dataset-container .dataset-border {
    border-right: solid 8px #D1D3D4;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: border;
    -moz-transition-property: border;
    transition-property: border; }
    .dataset-list .dataset-item .dataset-container .dataset-border .dataset-content .dataset-title {
      color: #0072bc;
      margin: 20px 0 0 0; }
    .dataset-list .dataset-item .dataset-container .dataset-border .dataset-content .dataset-author {
      color: #D1D3D4;
      font-size: 14px;
      line-height: 1.2;
      min-height: 33.6px;
      font-weight: 500; }
    .dataset-list .dataset-item .dataset-container .dataset-border .dataset-content .dataset-notes {
      color: #58595B;
      margin: 0 0 30px 0; }
    .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources {
      text-align: right;
      padding: 15px; }
      .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-groups img.group-image {
        width: 30px;
        height: 30px;
        margin: 0 0 5px 5px; }
      .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label {
        display: inline-block;
        width: 3.5em;
        font-weight: 500;
        margin: 0 0 5px 5px; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=html], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=html] {
          background-color: #8e24aa; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=json], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=json] {
          background-color: #ef7100; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=xml], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=xml] {
          background-color: #ef7100; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=text], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=text] {
          background-color: #74cbec; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=csv], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=csv] {
          background-color: #fdd835; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=xls], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=xls] {
          background-color: #2db55d; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=zip], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=zip] {
          background-color: #ffb300; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=api], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=api] {
          background-color: #ec96be; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=pdf], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=pdf] {
          background-color: #e53935; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=zip], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=zip] {
          background-color: #686868; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=rdf], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=rdf] {
          background-color: #0b4498; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=nquad], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=nquad] {
          background-color: #0b4498; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=ntriples], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=ntriples] {
          background-color: #0b4498; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=turtle], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=turtle] {
          background-color: #0b4498; }
        .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format=shp], .dataset-list .dataset-item .dataset-container .dataset-border .dataset-groups-and-resources .dataset-resources .label[data-format*=shp] {
          background-color: #1e88e5; }
.dataset-list .dataset-item:hover {
  color: inherit; }
  .dataset-list .dataset-item:hover .dataset-border {
    border-right-color: #0072bc; }

/* Extiende ../home/title */
#title.package-title {
  padding-bottom: 40px; }
  #title.package-title #title-container .description {
    margin: 0; }
  #title.package-title #stats .stats-legend {
    margin: 0; }

.package-container .package {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px;
  padding: 0; }
  .package-container .package .row {
    overflow: hidden;
    margin: 0; }
  .package-container .package #pkg-main-info,
  .package-container .package #pkg-secondary-info,
  .package-container .package #pkg-recent-activity,
  .package-container .package #pkg-related {
    margin-bottom: -99999px;
    padding-bottom: 99999px; }

#pkg-main-info #pkg-title-and-desc h1.pkg-title {
  margin: 50px 0 0 0;
  color: #0072bc;
  font-size: 30px; }
#pkg-main-info #pkg-title-and-desc .edit-button {
  float: right;
  margin-top: 20px; }
#pkg-main-info #pkg-title-and-desc p.pkg-author {
  color: #D1D3D4;
  font-size: 14px; }
  #pkg-main-info #pkg-title-and-desc p.pkg-author svg {
    width: 1em;
    fill: #D1D3D4; }
    #pkg-main-info #pkg-title-and-desc p.pkg-author svg:hover {
      fill: #0072bc; }
#pkg-main-info #pkg-title-and-desc p.pkg-notes {
  margin-bottom: 50px; }
#pkg-main-info #pkg-title-and-desc h2.pkg-resources-title {
  color: #58595B;
  border-bottom: solid 1px #D1D3D4;
  font-size: 22px; }
#pkg-main-info #pkg-title-and-desc .contact {
  width: 15px;
  height: 15px; }
#pkg-main-info #pkg-resources {
  padding-bottom: 20px;
  border-bottom: solid 1px #D1D3D4; }
  #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img {
    position: relative;
    display: inline-block;
    float: left;
    width: 40px;
    height: 50.4px;
    margin: 0 10px 10px 0; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=html] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=html] svg path {
      fill: #8e24aa; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=json] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=json] svg path {
      fill: #ef7100; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=xml] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=xml] svg path {
      fill: #ef7100; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=text] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=text] svg path {
      fill: #74cbec; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=csv] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=csv] svg path {
      fill: #fdd835; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=xls] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=xls] svg path {
      fill: #2db55d; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=zip] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=zip] svg path {
      fill: #ffb300; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=api] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=api] svg path {
      fill: #ec96be; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=pdf] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=pdf] svg path {
      fill: #e53935; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=zip] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=zip] svg path {
      fill: #686868; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=rdf] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=rdf] svg path {
      fill: #0b4498; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=nquad] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=nquad] svg path {
      fill: #0b4498; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=ntriples] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=ntriples] svg path {
      fill: #0b4498; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=turtle] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=turtle] svg path {
      fill: #0b4498; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format=shp] svg path, #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img[data-format*=shp] svg path {
      fill: #1e88e5; }
    #pkg-main-info #pkg-resources .pkg-container .package-info .pkg-file-img p {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50.4px;
      line-height: 54.4px;
      font-size: 12px;
      margin: 0;
      text-align: center;
      color: white;
      font-weight: 500; }
  #pkg-main-info #pkg-resources .pkg-container .package-info h3 {
    margin: 30px 0 0 0; }
  #pkg-main-info #pkg-resources .pkg-container .pkg-actions {
    display: inline-block;
    float: right;
    margin: 0 10px; }
    #pkg-main-info #pkg-resources .pkg-container .pkg-actions svg {
      width: 50px;
      height: 50px;
      padding: 10px; }
      #pkg-main-info #pkg-resources .pkg-container .pkg-actions svg path {
        fill: #D1D3D4; }
    #pkg-main-info #pkg-resources .pkg-container .pkg-actions a:hover svg path {
      fill: #0072bc; }

#pkg-secondary-info {
  background: #fafafa; }
  #pkg-secondary-info h2.secondary-info-title {
    color: #0072bc;
    margin-top: 58px;
    font-size: 22px;
    border-bottom: solid 1px #D1D3D4; }
  #pkg-secondary-info #info-container .title {
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0; }
  #pkg-secondary-info #info-container .value {
    margin-bottom: 10px;
    padding: 0; }
    #pkg-secondary-info #info-container .value p.pkg-maintainer svg {
      width: 1em;
      fill: #D1D3D4; }
      #pkg-secondary-info #info-container .value p.pkg-maintainer svg:hover {
        fill: #0072bc; }
    #pkg-secondary-info #info-container .value img.group-image {
      width: 30px;
      height: 30px;
      margin: 0 0 5px 5px; }
    #pkg-secondary-info #info-container .value p.pkg-tag {
      margin: 0 0 5px 0; }

#pkg-recent-activity {
  background: #fafafa; }
  #pkg-recent-activity h2.recent-activity-title {
    color: #0072bc;
    margin-top: 58px;
    font-size: 22px;
    border-bottom: solid 1px #D1D3D4;
    margin-bottom: 300px; }

#edit-group-container #edit-group, #edit-group-container #new-group, #new-group-container #edit-group, #new-group-container #new-group {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px; }
  #edit-group-container #edit-group h1, #edit-group-container #new-group h1, #new-group-container #edit-group h1, #new-group-container #new-group h1 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 40px; }
  #edit-group-container #edit-group form, #edit-group-container #new-group form, #new-group-container #edit-group form, #new-group-container #new-group form {
    padding: 20px 50px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    -moz-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5);
    box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.5); }
    #edit-group-container #edit-group form label, #edit-group-container #new-group form label, #new-group-container #edit-group form label, #new-group-container #new-group form label {
      display: block;
      text-align: left;
      font-weight: 400;
      padding: 5px 20px 5px 0;
      font-size: 16px;
      line-height: 1.2; }
    #edit-group-container #edit-group form input[type="text"], #edit-group-container #edit-group form input[type="password"], #edit-group-container #new-group form input[type="text"], #edit-group-container #new-group form input[type="password"], #new-group-container #edit-group form input[type="text"], #new-group-container #edit-group form input[type="password"], #new-group-container #new-group form input[type="text"], #new-group-container #new-group form input[type="password"] {
      width: 100%;
      font-size: 16px;
      line-height: 1.2;
      padding: 5px;
      height: 29.2px; }
    #edit-group-container #edit-group form input[type="checkbox"], #edit-group-container #new-group form input[type="checkbox"], #new-group-container #edit-group form input[type="checkbox"], #new-group-container #new-group form input[type="checkbox"] {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); }
    #edit-group-container #edit-group form .controls, #edit-group-container #new-group form .controls, #new-group-container #edit-group form .controls, #new-group-container #new-group form .controls {
      display: block;
      margin: 0; }
    #edit-group-container #edit-group form .control-custom, #edit-group-container #new-group form .control-custom, #new-group-container #edit-group form .control-custom, #new-group-container #new-group form .control-custom {
      display: none; }

/*# sourceMappingURL=gobar_style.css.map */
