/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/font/roboto_light_latin_ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/font/roboto_light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/font/roboto_normal_latin_ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/font/roboto_normal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/roboto_medium_latin_ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/roboto_medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  background: #fff;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  padding: 0; }

a, a:hover {
  text-decoration: none !important; }

#header {
  height: 50px;
  background: #0072bc;
  font-size: 20px;
  line-height: 2.5;
  text-align: right;
  padding: 0;
  -o-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2; }
  #header #header-spacing {
    padding: 0 20px; }
    #header #header-spacing .logo-ministerio {
      height: 50px;
      position: absolute;
      top: 0;
      left: 20px; }
    #header #header-spacing a {
      color: white;
      margin-left: 1em; }

#footer {
  padding: 0;
  -o-box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5); }
  #footer #footer-spacer {
    padding: 0; }
    #footer #footer-spacer .footer-section {
      height: 200px;
      color: #0072bc;
      font-size: 14px;
      font-weight: 500; }
      #footer #footer-spacer .footer-section.logo .logo-ministerio {
        height: 60px;
        margin: 60px 0 80px 0; }
      #footer #footer-spacer .footer-section.links-internos {
        padding-top: 50px; }
        #footer #footer-spacer .footer-section.links-internos p {
          margin: 0 0 5px 0; }
      #footer #footer-spacer .footer-section.links-externos {
        padding-top: 50px; }
        #footer #footer-spacer .footer-section.links-externos p {
          text-align: right; }
          #footer #footer-spacer .footer-section.links-externos p i {
            font-size: 28px;
            margin-left: 20px; }
          #footer #footer-spacer .footer-section.links-externos p .ckan-logo {
            height: 16px;
            vertical-align: baseline;
            margin-left: 6px; }

#title {
  padding: 20px 0;
  color: white;
  background-color: #00B9F1;
  background-image: -webkit-linear-gradient(left, #00B9F1, #0072bc);
  background-image: linear-gradient(to right,#00B9F1, #0072bc); }
  #title #title-container h1 {
    font-size: 50px;
    font-weight: 400; }
  #title #title-container .description {
    margin-bottom: 30px; }
  #title #searcher {
    position: absolute;
    bottom: 0;
    left: 25px;
    padding: 0; }
    #title #searcher form {
      padding: 0;
      border: none; }
      #title #searcher form input[type="text"] {
        background: transparent;
        border: none;
        width: 100%;
        color: white;
        -o-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: solid 1px white;
        padding: 10px;
        font-size: 24px;
        line-height: 1.2;
        height: 38.8px; }
        #title #searcher form input[type="text"]::-webkit-input-placeholder {
          color: white; }
        #title #searcher form input[type="text"]::-moz-placeholder {
          color: white; }
        #title #searcher form input[type="text"]:-moz-placeholder {
          color: white; }
        #title #searcher form input[type="text"]:-ms-input-placeholder {
          color: white; }
      #title #searcher form button {
        background: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 38.8px; }
        #title #searcher form button i {
          color: #C7EAFB;
          font-size: 24px; }
  #title #stats {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-right: 0; }
    @media (min-width: 992px) {
      #title #stats {
        text-align: right;
        margin-bottom: 0; } }
    #title #stats > div {
      padding-right: 0; }
    #title #stats .stat {
      font-size: 90px;
      margin: 0;
      line-height: 0.8;
      font-weight: 300; }
    #title #stats .stats-legend {
      font-size: 20px; }
      #title #stats .stats-legend.datasets {
        margin-bottom: 40px; }

.featured-groups {
  padding: 50px 0;
  text-align: center; }
  .featured-groups .group-container {
    margin-bottom: 15px;
    padding: 0 5px;
    float: none;
    display: inline-block;
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear; }
    .featured-groups .group-container.invisible {
      opacity: 0; }
    .featured-groups .group-container .group {
      border: solid 0 transparent;
      overflow: hidden;
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -o-box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
      -moz-box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
      -webkit-box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
      box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5); }
      .featured-groups .group-container .group .group-text {
        border-bottom: solid 5px #0072bc;
        padding: 15px 10px;
        position: relative;
        overflow: hidden; }
        .featured-groups .group-container .group .group-text img {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          left: 10px;
          margin-top: -25px; }
        .featured-groups .group-container .group .group-text .group-table {
          padding-left: 60px;
          overflow: hidden;
          display: table;
          text-align: left;
          font-size: 14px;
          line-height: 1.2;
          height: 50.4px; }
          .featured-groups .group-container .group .group-text .group-table .group-cell {
            display: table-cell;
            vertical-align: middle; }

#about #about-text, #about #specs-text, #about #terms-text, #about #contact-text, #specs #about-text, #specs #specs-text, #specs #terms-text, #specs #contact-text, #terms #about-text, #terms #specs-text, #terms #terms-text, #terms #contact-text, #contact #about-text, #contact #specs-text, #contact #terms-text, #contact #contact-text {
  padding: 30px 50px;
  -o-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -moz-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  color: #58595B;
  font-size: 16px; }
  #about #about-text h1, #about #specs-text h1, #about #terms-text h1, #about #contact-text h1, #specs #about-text h1, #specs #specs-text h1, #specs #terms-text h1, #specs #contact-text h1, #terms #about-text h1, #terms #specs-text h1, #terms #terms-text h1, #terms #contact-text h1, #contact #about-text h1, #contact #specs-text h1, #contact #terms-text h1, #contact #contact-text h1 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 40px; }
  #about #about-text h2, #about #specs-text h2, #about #terms-text h2, #about #contact-text h2, #specs #about-text h2, #specs #specs-text h2, #specs #terms-text h2, #specs #contact-text h2, #terms #about-text h2, #terms #specs-text h2, #terms #terms-text h2, #terms #contact-text h2, #contact #about-text h2, #contact #specs-text h2, #contact #terms-text h2, #contact #contact-text h2 {
    font-weight: 400;
    font-size: 25px; }
  #about #about-text h3, #about #specs-text h3, #about #terms-text h3, #about #contact-text h3, #specs #about-text h3, #specs #specs-text h3, #specs #terms-text h3, #specs #contact-text h3, #terms #about-text h3, #terms #specs-text h3, #terms #terms-text h3, #terms #contact-text h3, #contact #about-text h3, #contact #specs-text h3, #contact #terms-text h3, #contact #contact-text h3 {
    color: #0072bc;
    font-size: 20px; }
  #about #about-text strong, #about #specs-text strong, #about #terms-text strong, #about #contact-text strong, #specs #about-text strong, #specs #specs-text strong, #specs #terms-text strong, #specs #contact-text strong, #terms #about-text strong, #terms #specs-text strong, #terms #terms-text strong, #terms #contact-text strong, #contact #about-text strong, #contact #specs-text strong, #contact #terms-text strong, #contact #contact-text strong {
    font-weight: 500; }

#contact-text {
  height: 600px; }

/*# sourceMappingURL=gobar_style.css.map */
