{% import 'macros/form.html' as form %}

<form id='organization-edit-form' class="dataset-form form-horizontal" method="post" data-module="basic-form"
      enctype="multipart/form-data">
    {% block error_summary %}
        {{ form.errors(error_summary) }}
    {% endblock %}

    {% set attrs = {'data-module': 'slug-preview-target'} %}
    {{ form.input('title', label='Titulo', id='field-name', placeholder='Ej: Oficina Anticorrupción', value=data.title, error=errors.title, classes=['control-full'], attrs=attrs) }}

    {# Perhaps these should be moved into the controller? #}
    {% set prefix = h.url_for(controller='organization', action='read', id='') %}
    {% set domain = h.url_for(controller='organization', action='read', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<organization>'} %}

    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder='mi-organización', value=data.name, error=errors.name, attrs=attrs, is_required=true) }}


    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    <div class="control-group">
        <label class="control-label" for="field-parent">
            ¿Depende de otra organización?
        </label>
        <div class="controls">
            <select id="field-parent" name="groups__0__name" data-module="autocomplete">
                {% set selected_parent = (data.get('groups') or [{'name': ''}])[0]['name'] %} {{ selected_parent }}
                <option value="" {% if not selected_parent %}
                        selected="selected" {% endif %}>No depende de otra organización
                </option>
                {% for group in c.allowable_parent_groups %}
                    <option value="{{ group.name }}"
                            {% if group.name == selected_parent %}selected="selected"{% endif %}>{{ group.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-actions">
        {% block delete_button %}
            {% if h.check_access('organization_delete', {'id': data.id}) %}
                <button type="button" class="btn btn-red" id="confirm-delete">
                    BORRAR ORGANIZACIÓN
                </button>
            {% endif %}
        {% endblock %}
        <button class="btn btn-blue" name="save" type="submit">
            {% block save_text %}{{ _('Save Organization') }}{% endblock %}</button>
    </div>

</form>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1>¿Querés borrar esta organización?</h1>
                <p>Si lo hacés, todos los datasets y recursos vinculados a ella van a desaparecer.</p>
                <div class="modal-actions">
                    <form id="organization-confirm-delete-form"
                          action="{% url_for controller='organization', action='delete', id=data.name %}"
                          method="post">
                        <button class="btn btn-blue" type="submit" name="delete">BORRAR ORGANIZACIÓN</button>
                        <button id="dismiss-greetings" type="button" class="btn btn-blue" data-dismiss="modal">
                            NO, NO BORRAR
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% resource 'gobar_js/forms/confirm_delete.js' %}
