#developers-users-container {
  pre {
    color: $grey-500;
    background-color: $grey-100;
    border: solid 1px $grey-200;
    @include border-radius(4px);
    margin-bottom: 30px;
  }

  .source-link-container {
    margin-bottom: 10px;
    position: relative;
    pre {
      padding-right: 35px;
    }
    i.icon-external-link-sign {
      position: absolute;
      top: 50%;
      right: 10px;
      font-size: 20px;
      margin-top: -10px;
    }
  }

  .button-container {
    padding: 100px 0 50px 0;
  }

}