#developers-users-container {
  pre {
    color: $grey-500;
    background-color: $grey-100;
    border: solid 1px $grey-200;
    @include border-radius(4px);
  }

  .source-link-container {
    margin-bottom: 10px;
    position: relative;
    pre {
      padding-right: 35px;
    }
    i.icon-external-link-sign {
      position: absolute;
      top: 50%;
      right: 10px;
      font-size: 20px;
      margin-top: -10px;
    }
  }

  .source-example-container {
    margin-bottom: 10px;
    position: relative;
    border: solid 1px $grey-200;
    @include border-radius(4px);
    pre {
      border: none;
    }
    .source-example-fade-out {
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: 0;
      right: 0;
      @include linear-gradient(to bottom, transparent, $grey-100);
    }
  }
}