#our-site-container {
  overflow: hidden;

  .counter-section {
    text-align: center;
    @include breakpoint-md {
      text-align: left;
    }

    .background-pattern {
      padding: 50px 0;
    }

    h1 {
      font-weight: 400;
      font-size: 50px;
      margin: 0 0 40px 0;
    }
    h2 {
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }

    p {
      font-size: 18px;
    }

    .round-counter-section {
      text-align: center;

      .round-counter-max-width {
        max-width: 220px;
        margin: 0 auto;
        @include breakpoint-md {
          margin: 0 0 0 auto;
        }
      }

      .round-counter-container {
        padding-top: 100%;
        position: relative;
        margin-bottom: 10px;

        .round-counter {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include transform(rotate(90deg));

            .background-circle {
              opacity:0.7;
              fill:none;
              stroke:#CCCCCC;
              stroke-width:12;
              stroke-miterlimit:10;
            }
            .front-circle {
              opacity:0.7;
              fill:none;
              stroke:#00D57A;
              stroke-width:12;
              stroke-linecap:round;
              stroke-linejoin:round;
            }
          }

          .counter-table {
            display: table;
            height: 100%;
            width: 100%;

            h3 {
              display: table-cell;
              vertical-align: middle;
              margin: 0;
              font-weight: 400;
              font-size: 23px;
              .counter-number {
                display: block;
                font-weight: 300;
                font-size: 70px;
              }
            }
          }
        }
      }
    }
  }

  .data-section-background {
    background: $grey-100;
  }
  .data-section {
    padding: 100px 0;
    text-align: center;

    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      color: $blue-300;
      font-size: 50px;
      font-weight: 400;
    }

    h2 + p {
      margin-bottom: 60px;
    }

    p {
      font-size: 18px;
    }

    .svg-drawing-container {
      display: block;
      max-width: 200px;
      margin: 0 auto;
      svg {
        width: 100%;
      }
    }

    h3 {
      color: $green;
    }
  }

  .steps-section {
    padding: 100px 0;
    overflow: hidden;

    .step {
      padding-bottom: 60px;
    }

    .last-step {
      padding-bottom: 100px;
    }

    h2 {
      color: $blue-300;
      font-size: 40px;
      font-weight: 400;
    }
    p {
      font-size: 18px;
    }
    .svg-drawing-container {
      max-width: 150px;
      display: block;
      margin: 0 auto;
      overflow-x: visible;
    }
  }

  .team-section {
    text-align: center;
    .background-pattern {
      padding: 100px 0;
      .restricted-max-width {
        max-width: 700px;

        h2 {
          font-size: 50px;
          margin: 0 0 10px 0;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}