@import '../../utils/globals';
@import '../../utils/mixins';

#pkg-main-info {
  #pkg-title-and-desc {
    h1.pkg-title {
      margin: 50px 0 0 0;
      color: $dark-blue;
      font-size: 30px;
    }
    .edit-button {
      float: right;
      margin-top: 20px;
    }
    p.pkg-author {
      color: $light-grey;
      font-size: 14px;
      svg {
        width: 1em;
        fill: $light-grey;
        &:hover {
          fill: $dark-blue;
        }
      }
    }
    p.pkg-notes {
      margin-bottom: 50px;
    }
    h2.pkg-resources-title {
      color: $grey;
      border-bottom: solid 1px $light-grey;
      font-size: 22px;
    }
    .contact {
      width: 15px;
      height: 15px;
    }
  }
  #pkg-resources {
    padding-bottom: 20px;
    border-bottom: solid 1px $light-grey;
    .pkg-container {
      position: relative;
      $file-img-width: 40px;
      .pkg-file-img {
        position: absolute;
        width: $file-img-width;
        $height: $file-img-width*1.26;
        height: $height;
        top: 0;
        left: 0;
        @include svgFormatColors();
        p {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: $height;
          $vcenter-offset: 4px;
          line-height: $height + $vcenter-offset;
          $font-size: 12px;
          font-size: $font-size;
          margin: 0;
          text-align: center;
          color: white;
          font-weight: 500;
        }
      }
      $right-img-size: 50px;
      .pkg-actions {
        display: inline-block;
        float: right;
        margin: 0 10px;
        svg {
          width: $right-img-size;
          height: $right-img-size;
          padding: 10px;
          path {
            fill: $light-grey;
          }
        }
        a:hover {
          svg {
            path {
              fill: $dark-blue;
            }
          }
        }
      }
      .package-info {
        padding: 0 (2*$right-img-size + 10px) 0 ($file-img-width + 10px);
        h3 {
          margin: 30px 0 0 0;
        }
      }
    }
  }
}