@import '../../utils/globals';

#pkg-recent-activity {
  background: #fafafa;
  h2.recent-activity-title {
    color: $dark-blue;
    margin: 50px 0 0 0;
    font-size: 17px;
    border-bottom: solid 1px $light-grey;
  }
}