#pkg-recent-activity {
  background: #fafafa;
  color: $grey-400;
  h2.recent-activity-title {
    color: $blue-300;
    font-weight: 400;
    margin: 50px 0 0 0;
    font-size: 20px;
    border-bottom: solid 1px $grey-300;
  }

  ul.activity {
    margin: 0;
    li.item {
      border-bottom: solid 1px $grey-300;
    }
  }

  .activity-read-more, .activity-loading {
    text-align: center;
    background: transparent;
    color: $grey-300;
    cursor: pointer;
    padding: 5px;
    margin: -5px -15px 0 -15px;
    $transition-duration: 200ms;
    @include transition-property(background, color);
    @include transition-duration($transition-duration, $transition-duration);
    @include transition-delay(0s, 0s);
    @include transition-timing-function(linear, linear);

    svg {
      width: 12px;
      height: 12px;
      path {
        @include transition-property(fill);
        @include transition-duration($transition-duration);
        @include transition-delay(0s);
        @include transition-timing-function(linear);
      }
    }

    &:hover {
      color: $grey-400;
      background: $grey-150;
      svg {
        path {
          fill: $grey-400;
        }
      }
    }

  }

  .activity-loading {
    cursor: initial;
  }

  hr.final-separator {
    margin: 0 0 30px 0;
    border-color: $grey-300;
  }

  &.no-more-activity {
    .activity-read-more, .activity-loading, hr.final-separator {
      display: none;
    }
    ul.activity {
      margin-bottom: 50px;
    }
  }
}