.pkg-container {
  position: relative;
  $file-img-width: 40px;
  .pkg-file-img {
    position: absolute;
    width: $file-img-width;
    $height: $file-img-width*1.26;
    height: $height;
    top: 0;
    left: 0;
    @include svgFormatColors();
    p {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $height;
      $vcenter-offset: 4px;
      line-height: $height + $vcenter-offset;
      $font-size: 12px;
      font-size: $font-size;
      margin: 0;
      text-align: center;
      color: white;
      font-weight: 500;
    }
  }
  $right-button-size: 90px;
  .pkg-actions {
    display: inline-block;
    float: right;
    margin: 0 10px 10px 10px;
    button {
      background: $blue-300;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 13px;
      display: block;
      width: $right-button-size;
      margin-bottom: 5px;
      font-weight: 300;
      &:hover {
        background-color: $blue-200;
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .package-info {
    padding: 0 ($right-button-size + 20px) 0 ($file-img-width + 10px);
    h3 {
      color: $grey-400;
      margin: 5px 0 6px 0;
      font-weight: 400;
      font-size: 16px;
      @include breakpoint-sm {
        margin-top: 30px;
      }
    }
    p {
      color: $grey-500;
      font-size: 16px;
    }
    &:hover h3 {
      color: $blue-300;
    }
  }
}