#resource-edit {
  a.btn {
    text-transform: uppercase;
    margin-left: 0;
  }
  .icon-cloud-upload,
  .icon-globe {
    display: none;
  }
  #resource-attributes-form {
    padding-top: 30px;
    border-top: solid 1px $grey-200;

    .resource-attributes-actions {
      text-align: right;
      padding: 30px 0;
      border-top: solid 1px $grey-200;
    }
  }
}

