#resource-edit {
  a.btn {
    text-transform: uppercase;
    margin-left: 0;
  }
  a.btn.hover {
    color: white;
    background-color: $grey-400;
    cursor: pointer;
  }
  a.btn-remove-url {
    top: 8px;
    right: 8px;
  }
  .icon-cloud-upload,
  .icon-globe {
    display: none;
  }
  #resource-attributes-form {
    padding-top: 30px;
    border-top: solid 1px $grey-200;

    .resource-attributes-actions {
      text-align: right;
      padding: 30px 0;
      border-top: solid 1px $grey-200;
    }

    .resource-attributes-group {
      padding-top: 30px;
      border-top: solid 1px $grey-200;
    }
    .control-full + .resource-attributes-group {
      padding-top: 0;
      border-top: none;
    }
  }
  h2.blue {
    color: $blue-300;
    margin: 0 0 10px 0;
  }
}

#edit-package {
  #delete-modal {
    .modal-content {
      @include box-shadow(none);
    }
    .modal-body {
      padding: 50px;
      h1 {
        margin: 0;
      }
      button {
        padding: 12px;
      }
    }
  }
}

