#search-results {

  @include transition-duration(300ms);
  @include transition-delay(0s);
  @include transition-property(opacity);
  @include transition-timing-function(linear);

  &.invisible {
    opacity: 0;
  }

  &.hidden-by-filters {
    opacity: 0.3;
    position: relative;
    .filters-veil {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    @include breakpoint-md {
      opacity: 1;
      .filters-veil {
        display: none;
      }
    }
  }

  .add-dataset {
    text-align: right;
    margin-top: 20px;
    a {
      display: inline-block;
      color: white;
      border: none;
      padding: 12px;
      @include border-radius(4px);
      background-color: $blue-300;
      margin-left: 10px;
      &:hover {
        background-color: $blue-200;
      }
    }
  }

  .search-and-order {
    padding: 0;
    border: none;
    margin-top: 20px;
    .searcher {
      padding: 0;
      overflow: hidden;
      position: relative;

      $font-size: 16px;
      $padding: 10px;
      $line-height: 1.2;

      input {
        background: transparent;
        border: none;
        width: 100%;
        @include box-shadow(none);
        @include border-bottom-radius(0);
        border-bottom: solid 1px $grey-200;
        padding: $padding;
        font-size: $font-size;
        line-height: $line-height;
        height: $padding + $font-size * $line-height + 5px;
        margin-bottom: 0;
        margin-left: 50px;
        @include breakpoint-md {
          margin-left: 0;
        }

        @include placeholder {
          color: $grey-400;
        }

      }

      button {
        background: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        .search-icon {
          width: 20px;
          height: 30px;
          padding: 4px 0;
        }
      }

      .menu-button {
        position: absolute;
        top: 50%;
        left: 0;
        $size: 40px;
        width: $size;
        height: $size;
        margin-top: -$size/2;
        padding: 5px;

        svg {
          width: 100%;
          height: 100%;
          path {
            fill: $grey-200;
          }
        }

        &:hover {
          cursor: pointer;
          svg path {
            fill: $blue-300;
          }
        }
      }
    }

    .order {
      text-align: right;
      padding-right: 0;
      label {
        font-weight: 500;
        font-size: 16px;
        padding-right: 5px;
        max-width: 40%;
        box-sizing: border-box;
        color: $grey-400;
      }
      select {
        max-width: 60%;
      }
    }

  }

  .search-error {
    strong {
      font-weight: 500;
    }
  }

  .pagination {
    width: 100%;
  }
}