.dataset-list {
  .dataset-item {
    .dataset-container {
      padding: 0;
      border: solid 0 transparent;
      @include border-radius(4px);
      @include box-shadow(0 0 4px 0 rgba(150, 150, 150, 0.5));
      margin-bottom: 15px;
      overflow: hidden;

      .dataset-border {
        border-right: solid 8px $light-grey;
        padding: 15px;
        @include transition-delay(0s);
        @include transition-duration(200ms);
        @include transition-timing-function(ease-in);
        @include transition-property(border);

        .dataset-content {
          padding: 0;

          .dataset-title {
            color: $grey-400;
            margin: 0;
            line-height: 1.3;
          }

          .dataset-author {
            color: $grey-400;
            font-style: italic;
            $font-size: 13px;
            font-size: $font-size;
            $line-height: 1.2;
            line-height: $line-height;
            padding-bottom: $font-size*$line-height;
            font-weight: 500;
          }

          .dataset-notes {
            color: $grey-500;
            font-size: 14px;
            margin: 0;
          }
        }

        .dataset-groups-and-resources {
          text-align: right;
          padding: 0 0 0 10px;

          .dataset-groups {
            img.group-image {
              width: 30px;
              height: 30px;
              margin: 0 0 5px 5px;
            }
          }

          .dataset-resources {
            .label {
              display: inline-block;
              width: 3.5em;
              font-weight: 500;
              margin: 0 0 5px 5px;
              @include labelsFormatColors();
            }
          }
        }
      }
    }

    &:hover {
      color: inherit;
      .dataset-border {
        border-right-color: $dark-blue;
        .dataset-content .dataset-title {
          color: $blue-300;
        }
      }
    }
  }
}