.dataset-list {
  .dataset-item {
    .dataset-container {
      padding: 0;
      border: solid 0 transparent;
      @include border-radius(4px);
      @include box-shadow(0 2px 2px rgba(0,0,0,0.2));
      border-top: #eeeeee solid 1px;
      margin-bottom: 15px;
      overflow: hidden;

      .dataset-border {
        border-right: solid 8px $grey-300;
        padding: 15px;
        @include transition-delay(0s);
        @include transition-duration(200ms);
        @include transition-timing-function(ease-in);
        @include transition-property(border);

        .dataset-content {
          padding: 0;

          .dataset-title {
            color: $grey-400;
            margin: 0;
            line-height: 1.3;
            font-size: 25px;
          }

          .dataset-author {
            color: $grey-400;
            $font-size: 15px;
            font-size: $font-size;
            $line-height: 1.4;
            line-height: $line-height;
            margin: 4px 0 8px 0;
            font-weight: 500;
          }

          .dataset-notes {
            color: $grey-500;
            font-size: 17px;
            margin: 0;
          }
        }

        .dataset-groups-and-resources {
          text-align: right;
          padding: 0 0 0 10px;

          .dataset-groups {
            img.group-image {
              width: 30px;
              height: 30px;
              margin: 0 0 5px 5px;
            }
          }

          .dataset-resources {
            .label {
              display: inline-block;
              width: 3.5em;
              font-weight: 500;
              margin: 0 0 5px 5px;
              @include labelsFormatColors();
              overflow: hidden;
              text-overflow: ellipsis;

              &.group {
                width: auto;
                max-width: 100%;
                background: $grey-300;
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    &:hover {
      color: inherit;
      .dataset-border {
        border-right-color: $blue-300;
        .dataset-content .dataset-title {
          color: $blue-300;
        }
      }
    }
  }
}