.filters-container {
  background: #fafafa;
  margin-bottom: -99999px;
  padding: 0 0 99999px 0;
  z-index: 2;

  position: absolute;
  width: 100%;
  max-width: 400px;
  left: -100%;
  @include transition-property(left);
  @include transition-duration(400ms);
  @include transition-timing-function(ease-in);
  @include transition-delay(0s);

  &.side-visible {
    left: 0;
  }

  @include breakpoint-md {
    position: relative;
    left: 0;
    max-width: none;
    width: 33.33333333%;
  }

  .hide-filters-button {
    color: $grey-400;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    i {
      font-size: 14px;
    }
  }

  .search-filter {
    $side-padding: 30px;

    @include transition-duration(300ms);
    @include transition-delay(0s);
    @include transition-property(opacity);
    @include transition-timing-function(linear);

    &.invisible {
      opacity: 0;
    }

    h2.filter-title {
      font-size: 20px;
      font-weight: 400;
      padding: 0 $side-padding;
      color: $grey-400;
    }

    p.filter-empty {
      color: $grey-200;
      font-size: 16px;
      padding: 0 $side-padding;
    }

    a.filter-show-less, a.filter-show-more {
      color: $grey-300;
      p {
        padding: 5px $side-padding;
        text-align: center;
        margin: 0;
        background: transparent;
        .arrow-up, .arrow-down {
          width: 12px;
          height: 12px;
        }
      }
      &:hover {
        color: $grey-400;
        p {
          background: $grey-150;
          .arrow-up, .arrow-down {
            path {
              fill: $grey-400;
            }
          }
        }
      }
    }

    hr {
      margin: 20px;
      border: none;
      border-top: solid 1px $grey-300;
    }

    a.filter-show-more + hr, a.filter-show-less + hr {
      margin: 0 20px;
    }

    ul {
      list-style: none;
      margin: 0;

      a {
        color: inherit;
        font-size: 15px;

        li {
          padding: 5px $side-padding;
          position: relative;
          background: transparent;
          @include transition-delay(0s);
          @include transition-property(background);
          @include transition-timing-function(linear);
          @include transition-duration(150ms);
          &:hover {
            background: $grey-150;
            color: $blue-200;
          }
          .close-filter {
            display: none;
          }
          &.active {
            background: $grey-400;
            color: white;
            .close-filter {
              display: inline-block;
              position: absolute;
              right: 5px;
              top: 50%;
              margin-top: -10px;
              width: 20px;
              height: 20px;
            }
          }

          span {
              display: inline-block;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
          }
        }
      }
    }

    .group-images {
      padding: 0 15px;
      .group-image-container {
        width: 16.666666%;
        display: inline-block;
        padding: 4px;
        text-align: center;
        position: relative;
        svg {
          max-width: 35px;
          max-height: 35px;
          path {
            fill: $grey-200;
          }
        }
        &.available {
          svg {
            path {
              fill: $grey-400;
            }
          }
          &:hover {
            svg {
              path {
                fill: $blue-300;
              }
            }
          }
        }
        &.active {
          svg {
            path {
              fill: $blue-300;
            }
          }
          &:hover {
            svg {
              path {
                fill: $blue-200;
              }
            }
          }
        }

        .svg-tooltip {
          position: absolute;
          display: inline-block;
          left: -99999px;
          .tooltip-text {
            padding: 4px;
            background: $grey-500;
            color: white;
            white-space: nowrap;
            font-size: 10px;
            opacity: 0;
            @include transition-delay(400ms);
            @include transition-property(opacity);
            @include transition-timing-function(linear);
            @include transition-duration(150ms);
          }
        }

        &:hover {
          .svg-tooltip {
            left: -25%;
            top: -50%;
            .tooltip-text {
              opacity: 1;
            }
          }
        }

      }
    }

  }
}
