#pkg-secondary-info {
  background: #fafafa;
  h2.secondary-info-title {
    color: $blue-300;
    margin-top: 58px;
    font-size: 20px;
    border-bottom: solid 1px $grey-300;
    font-weight: 400;
  }

  #info-container {
    color: $grey-400;
    font-size: 16px;
    .row {
      border-bottom: 1px solid $grey-300;
      margin-bottom: 10px;

      &.group-row {
        overflow: visible;

        .label {
          display: inline-block;
          margin-bottom: 5px;
          font-weight: 400;
          background: $grey-300;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background: $grey-400;
          }
        }
      }

      .title {
        margin-bottom: 10px;
        padding: 0;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .value {
        margin-bottom: 10px;
        padding: 0 0 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          white-space: nowrap;
        }

        p.pkg-maintainer {
          svg {
            width: 1em;
            height: 1em;
            path {
              fill: $grey-300;
            }
            &:hover path {
              fill: $blue-300;
            }
          }
        }

        .group-img-container {
          display: inline-block;
          position: relative;
          max-width: 100%;

          svg.group-image, img.group-image {
            width: 30px;
            height: 30px;
            margin: 0 0 5px 5px;
            path {
              fill: $grey-300;
            }
            &:hover {
              path {
                fill: $blue-300;
              }
            }
          }

          .svg-tooltip {
            position: absolute;
            display: inline-block;
            right: -99999px;
            top: -70%;
            .tooltip-text {
              padding: 4px;
              background: $grey-500;
              color: white;
              white-space: nowrap;
              font-size: 10px;
              opacity: 0;
              @include transition-delay(400ms);
              @include transition-property(opacity);
              @include transition-timing-function(linear);
              @include transition-duration(150ms);
            }
          }

          svg.group-image:hover + .svg-tooltip {
            right: -25%;
            .tooltip-text {
              opacity: 1;
            }
          }
        }

        p.pkg-tag {
          a {
            color: $grey-400;
            &:hover {
              color: $blue-300;
            }
          }
          margin: 0 0 5px 0;
        }
      }
    }

  }
}
