{%- ckan_extends -%}

{%- block styles -%}
    {{ super() }}
    {%- resource 'gobar_css/bootstrap_style.css' -%}
    {%- resource 'gobar_css/gobar_style.css' -%}
{%- endblock -%}

{%- block meta -%}
    {{ super() }}

    <meta property="og:url" content="{{ h.url('/', locale='default', qualified=true) }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ h.get_theme_config('fb-metadata.title') }}">
    <meta property="og:site_name" content="{{ h.get_theme_config('fb-metadata.title') }}">
    <meta property="og:description" content="{{ h.get_theme_config('fb-metadata.description') }}">
    <meta property="og:image" content="http://datos.gob.ar/img/fb_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">
    <meta property="og:locale" content="es_AR">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@datosgobar"/>
    <meta name="twitter:image:src" content="http://datos.gob.ar/img/twitter_card.png">
    {% block twitter_title -%}
        <meta name="twitter:title" content="{{ h.get_theme_config('tw-metadata.title') }}">
    {%- endblock %}
    {% block twitter_description-%}
        <meta name="twitter:description" content="{{ h.get_theme_config('tw-metadata.description') }}">
    {%- endblock %}
{%- endblock -%}

{%- block title -%}
    {% set title = h.get_theme_config('title.site-title') %}
    {{ title if title else '' }} {%- block subtitle -%}{%- endblock -%}
{%- endblock -%}

{%- block links -%}
    <link rel="shortcut icon" href="/favicon.ico"/>
{%- endblock -%}