{%- ckan_extends -%}

{%- block styles -%}
    {{ super() }}
    {%- resource 'gobar_css/bootstrap_style.css' -%}
    {%- resource 'gobar_css/gobar_style.css' -%}
{%- endblock -%}

{%- block meta -%}
    {{ super() }}

    <meta property="og:url" content="http://datos.gob.ar">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Datos Argentina">
    <meta property="og:site_name" content="Datos Argentina">
    <meta property="og:description"
          content="Portal de datos abiertos de la República Argentina. Encontrá datos públicos en formatos abiertos. Son tuyos: ¡usalos, modificalos y compartilos!">
    <meta property="og:image" content="http://datos.gob.ar/img/fb_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="es_AR">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@datosgobar"/>
    {% block twitter_title -%}
        <meta name="twitter:title" content="Datos Argentina">
    {%- endblock %}
    {% block twitter_img -%}
        <meta name="twitter:description"
              content="Portal de datos abiertos de la República Argentina. Encontrá datos públicos en formatos abiertos. Son tuyos: ¡usalos, modificalos y compartilos!">
    {%- endblock %}
    {% block twitter_description -%}
        <meta name="twitter:image:src" content="http://datos.gob.ar/img/twitter_card.png">
    {%- endblock %}
{%- endblock -%}

{%- block title -%}
    Datos Argentina {%- block subtitle -%}{%- endblock -%}
{%- endblock -%}

{%- block links -%}
    <link rel="shortcut icon" href="/favicon.ico"/>
{%- endblock -%}