<div id="footer" class="container-fluid">
    <div id="footer-spacer" class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="footer-section logo col-xs-5">
            <a href="{{ h.url('home') }}"><img src="/img/logo_ministerio_footer.svg" class="logo-ministerio"></a>
        </div>
        <div class="footer-section links-internos col-xs-3">
            <a href="{{ h.url('gobar_especificaciones') }}"><p>ESPECIFICACIONES</p></a>
            <a href="mailto:gobiernoabierto@modernizacion.gob.ar"><p>CONTACTO</p></a>
            <a href="{{ h.url('gobar_acerca_de') }}"><p>ACERCA DEL SITIO</p></a>
            <a href="{{ h.url('gobar_terminos') }}"><p>TERMINOS Y CONDICIONES</p></a>
        </div>
        <div class="footer-section links-externos col-xs-4">
            <p>
                <a href="https://twitter.com/datosarg"><i class="icon-twitter"></i></a>
                <a href="https://www.facebook.com/GobAbiertoAR/"><i class="icon-facebook"></i></a>
                <a href="https://github.com/gobabiertoAR"><i class="icon-github-alt"></i></a>
            </p>
            <p>
                DESARROLLADO CON <a href="http://ckan.org/"><img class="ckan-logo" src="/img/ckan_logo.svg"></a>
            </p>
        </div>
    </div>
</div>