<div id="footer" class="container-fluid">
    <div class="restricted-max-width">
        <div id="footer-spacer" class="col-xs-10 col-xs-offset-1">
            <div class="footer-section logo col-xs-12 col-sm-6 col-md-6">
                <p>
                    {% set tw = h.get_theme_config('social.tw') %}
                    {% if tw and tw|length > 0 %}
                        <a href="{{ tw }}" target="_blank" class="social-link">
                            <i class="icon-twitter"></i>
                        </a>
                    {% endif %}

                    {% set fb = h.get_theme_config('social.fb') %}
                    {% if fb and fb|length > 0 %}
                        <a href="{{ fb }}" target="_blank" class="social-link">
                            <i class="icon-facebook"></i>
                        </a>
                    {% endif %}

                    {% set github = h.get_theme_config('social.github') %}
                    {% if github and github|length > 0 %}
                        <a href="{{ github }}" target="_blank" class="social-link">
                            <i class="icon-github-alt"></i>
                        </a>
                    {% endif %}

                    {% set inst = h.get_theme_config('social.inst') %}
                    {% if inst and inst|length > 0 %}
                        <a href="{{ inst }}" target="_blank" class="social-link">
                            <i class="icon-instagram"></i>
                        </a>
                    {% endif %}

                    {% set yt = h.get_theme_config('social.yt') %}
                    {% if yt and yt|length > 0 %}
                        <a href="{{ yt }}" target="_blank" class="social-link">
                            <i class="icon-youtube-play"></i>
                        </a>
                    {% endif %}

                    {% if h.check_access('package_create') %}
                        <a class="edit-social-link"
                           href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_social') }}">
                            {% snippet "svg/edit.svg" %}
                        </a>
                    {% endif %}
                </p>
                <div class="logo-edit-container">
                    <a href="http://www.argentina.gob.ar/modernizacion" target="_blank">
                        <img src="/img/logo_ministerio.svg" class="logo-ministerio">
                    </a>
                    {% if h.check_access('package_create') %}
                        <a class="edit-logo-link"
                           href="{{ h.url_for(controller='ckanext.gobar_theme.config_controller:GobArConfigController', action='edit_footer') }}">
                            {% snippet "svg/edit.svg" %}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="footer-section links-internos hidden-xs hidden-sm col-md-3">
                <p></p>
            </div>
            <div class="footer-section links-externos col-xs-12 col-sm-6 col-md-3">
                {% set mail = h.get_theme_config('social.mail') %}
                {% if mail and mail|length > 0 %}
                    <a href="mailto:{{ mail }}">Contactanos</a>
                {% endif %}
                <a href="http://ckan.org/" target="_blank">
                    <p class="ckan-link">Desarrollado con <span class="ckan-name">CKAN</span></p>
                </a>
            </div>
        </div>
    </div>
</div>