{% extends "base.html" %}

<!-- TODO: buscar mejor forma de deshabilitar estos mensajes -->
{% set messages = h.flash.pop_messages() %}

{%- block page -%}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KMSJQ8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KMSJQ8');</script>
    <!-- End Google Tag Manager -->


    <div class="footer-down">
        {%- block header %}
            {% include "header.html" %}
        {% endblock -%}

        {%- block content %}
        {% endblock -%}


        {%- block footer %}
            {% include "footer.html" %}
        {% endblock -%}
    </div>
{%- endblock -%}

{%- block scripts %}
    {% resource 'base/main' %}
    {% resource 'base/ckan' %}
    {% if g.tracking_enabled %}
        {% resource 'base/tracking.js' %}
    {% endif %}
    {% resource 'gobar_js/libs/bootstrap_scripts.js' %}
    {% resource 'gobar_js/console_message.js' %}
    {% resource 'gobar_js/replace_svg.js' %}
    {{ super() }}
{% endblock -%}