#home-create-buttons {
  padding-top: 15px;
  background: #f5f5f5;
  text-align: center;

  @include breakpoint-sm {
    text-align: right;
  }

  a {
    display: inline-block;
    color: white;
    border: none;
    padding: 12px;
    margin-left: 10px;
    @include border-radius(4px);
    background-color: $blue-300;
    &:hover {
      background-color: $blue-200;
    }
  }
}