#featured-content-container {
  background-color: #e5e5e5;
  padding: 0;

  #featured-content {
    margin-top: 50px;
    margin-bottom: 70px;

    h2 {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 20px;
      color: $grey;
    }

    .table-wrapper {
      display: table;
      margin-bottom: 10px;
      .table-spacer {
        display: table-cell;
        border-right: solid 10px transparent;
      }
      a {
        display: table-cell;
        padding: 20px;
        background: white;
        @include border-radius(4px);
        @include box-shadow(0 0 3px 0 rgba(100, 100, 100, 0.4));
        width: 50%;
        border-right: solid 6px $light-grey;
        @include transition-delay(0s);
        @include transition-duration(200ms);
        @include transition-timing-function(ease-in);
        @include transition-property(border);

        &:hover {
          border-right-color: $dark-blue;
        }

        .featured-card {
          h1 {
            margin: 0;
            color: $dark-blue;
            font-size: 18px;
            line-height: 1.3;
          }

          h2 {
            margin: 0;
            color: $dark-blue;
            font-size: 16px;
            font-weight: 400;
          }

          h3 {
            color: $light-grey;
            font-size: 13px;
            margin: 8px 0 0 0;
          }

          p {
            color: $grey;
            margin: 15px 0 0 0;
            line-height: 1.3;
          }

        }
      }

      .empty-card {
        display: table-cell;
        width: 25%;
      }
    }

  }
}