.featured-groups {
  padding: 50px 0;
  text-align: center;

  a:hover {
    color: $dark-blue;
  }

  .group-container {
    margin-bottom: 35px;
    padding: 0 5px;
    float: none;
    display: inline-block;
    opacity: 1;

    @include transition-duration(1s);
    @include transition-delay(0s);
    @include transition-property(opacity);
    @include transition-timing-function(linear);

    &.invisible {
      opacity: 0;
    }

    .group {
      position: relative;
      background: white;
      z-index: 2;
      border: solid 0 transparent;
      overflow: hidden;
      @include border-radius(4px);
      @include box-shadow(0 0 3px 0 rgba(100, 100, 100, 0.4));

      .group-text {
        border-bottom: solid 5px $dark-blue;
        $vertical-padding: 10px;
        $horizontal-padding: 10px;
        padding: $vertical-padding $horizontal-padding;
        position: relative;
        $img-size: 35px;
        overflow: hidden;

        svg, img {
          position: absolute;
          width: $img-size;
          height: $img-size;
          top: 50%;
          left: $horizontal-padding;
          margin-top: -$img-size/2;
          path {
            fill: $light-grey;
          }
        }

        .group-table {
          padding-left: $img-size + 10px;
          overflow: hidden;
          display: table;
          text-align: left;
          $font-size: 13px;
          $line-height: 1.2;
          $lines: 3;
          font-size: $font-size;
          line-height: $line-height;
          height: $lines * $font-size * $line-height;

          .group-cell {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

      &.inactive {
        color: $light-grey;
        .group-text {
          border-bottom-color: $light-grey;
        }
      }

      &.active:hover {
        svg {
          path {
            fill: $dark-blue !important;
          }
        }
      }

    }

    $edit-size: 20px;
    $edit-padding: 4px;
    .edit-container {
      position: absolute;
      z-index: 1;
      top: -5px;
      right: 10px;
      overflow: hidden;
      padding: $edit-padding;
      background: $light-grey;
      @include border-radius(4px);
      @include transition-delay(0s);
      @include transition-duration(200ms);
      @include transition-timing-function(ease-in);
      @include transition-property(top);
      .edit-svg {
        height: $edit-size;
        width: $edit-size;
        fill: white;
      }
    }

    &:hover {
      .edit-container {
        top: -($edit-size+2*$edit-padding);
      }
    }
  }
}