.featured-groups {
  padding: 20px 0;
  text-align: center;
  background: $grey-100;

  @include breakpoint-sm {
    padding: 50px 0;
  }

  a:hover {
    color: $blue-300;
  }

  .group-container {
    margin-bottom: 20px;
    padding: 0 10px;
    float: none;
    opacity: 1;

    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-sm {
      display: inline-block;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }

    &.with-edit-button {
      margin-bottom: 35px;
    }

    @include transition-duration(1s);
    @include transition-delay(0s);
    @include transition-property(opacity);
    @include transition-timing-function(linear);

    &.invisible {
      opacity: 0;
    }

    .group {
      position: relative;
      background: white;
      z-index: 2;
      border: solid 0 transparent;
      overflow: hidden;
      @include border-radius(4px);
      @include box-shadow(0 2px 2px rgba(0,0,0,0.2));

      $img-size: 35px;
      .group-text {
        $vertical-padding: 10px;
        $horizontal-padding: 10px;
        padding: $vertical-padding $horizontal-padding;
        position: relative;
        overflow: hidden;

        svg, img {
          position: absolute;
          width: $img-size;
          height: $img-size;
          top: 50%;
          left: $horizontal-padding;
          margin-top: -$img-size/2;
          path {
            fill: $blue-300;
          }
        }

        .group-table {
          width: 100%;
          overflow: hidden;
          display: table;
          text-align: center;
          $font-size: 15px;
          $line-height: 1.2;
          $lines: 3;
          font-size: $font-size;
          line-height: $line-height;
          height: $lines * $font-size * $line-height;

          .group-cell {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

      &.show-icons .group-text .group-table {
        padding-left: $img-size + 10px;
        text-align: left;
      }

      &.inactive {
        color: $grey-200 !important;
        .group-text {
          svg path {
            fill: $grey-200 !important;
          }
        }
      }

      &.active:hover {
        background: $blue-300;
        color: white;
        svg {
          path, circle, polygon {
            fill: white !important;
          }
        }
      }
      &.hide-icons {
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    $edit-size: 20px;
    $edit-padding: 4px;
    .edit-container {
      position: absolute;
      z-index: 1;
      top: -5px;
      right: 10px;
      overflow: hidden;
      padding: $edit-padding;
      background: $grey-200;
      @include border-radius(4px);
      @include transition-delay(0s);
      @include transition-duration(200ms);
      @include transition-timing-function(ease-in);
      @include transition-property(top);
      .edit-svg {
        height: $edit-size;
        width: $edit-size;
        fill: white;
      }
    }

    &:hover {
      .edit-container {
        top: -($edit-size+2*$edit-padding);
      }
    }
  }
}