#featured-content-container {
  background-color: $grey-100;
  padding: 0;

  #featured-content {
    margin-top: 0;
    margin-bottom: 50px;

    h2 {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 20px;
      color: $grey-400;
    }

    .table-wrapper {
      display: table;
      margin-bottom: 20px;
      .table-spacer {
        display: table-cell;
        border-right: solid 20px transparent;
      }
      a {
        display: table-cell;
        padding: 20px;
        background: white;
        @include border-radius(4px);
        @include box-shadow(0 2px 2px rgba(0,0,0,0.2));
        width: 50%;
        @include transition-delay(0s);
        @include transition-duration(200ms);
        @include transition-timing-function(ease-in);
        @include transition-property(border);

        .featured-card {
          h1 {
            margin: 0;
            color: $grey-400;
            font-size: 22px;
            line-height: 1.3;
          }

          h2 {
            margin: 0;
            color: $grey-400;
            font-size: 16px;
            font-weight: 400;
          }

          h3 {
            color: $grey-400;
            font-size: 14px;
            margin: 0 0 8px 0;
          }

          p {
            color: $grey-500;
            margin: 15px 0 0 0;
            line-height: 1.3;
            font-size: 16px;
          }
        }

        &:hover {
          background: $blue-300;
          .featured-card h1, 
          .featured-card p {
            color: white;
          }
          .featured-card h3 {
            color: $blue-100;
          }
        }
      }

      .empty-card {
        display: table-cell;
        width: 25%;
      }
    }

  }
}