@import 'title';
@import 'featured_groups';
@import 'create_buttons';
@import 'featured_content';

.home {
  background: $grey-100;
  height: 100%;
  display: table-row;
}

#greetings-modal {
  .modal-body {
    position: relative;
  }
  .icon-remove {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    top: 10px;
    left: 10px;
  }
}