#title {
  color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  @include linear-gradient(to right, $blue, $dark-blue);
  background-size: cover;
  background-position: center center;
  padding: 0;

  .background-overlay {
    padding: 20px 0;
    background-color: rgba(black, 0.5);
    &.no-padding-bottom {
      padding-bottom: 0;
    }
  }

  #title-container {
    text-align: center;

    &.text-left {
      @include breakpoint-md {
        text-align: left;
      }
    }


    h1 {
      font-size: 55px;
      font-weight: 400;
    }

    .description {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }
  #searcher {

    &.position-bottom {
      @include breakpoint-md {
        position: absolute;
        bottom: 0;
        left: 25px;
        padding: 0;
      }
    }
    $font-size: 24px;
    $padding: 10px;
    $line-height: 1.2;

    form {
      padding: 0;
      border: none;

      input[type="text"] {
        background: white;
        border: none;
        width: 100%;
        color: $grey-500;
        @include box-shadow(none);

        margin-bottom: 15px;
        padding: $padding 2em $padding $padding;
        font-size: $font-size;
        line-height: $line-height;
        height: $padding + $font-size * $line-height;

        @include placeholder {
          color: $grey-300;
          font-weight: 300;
        }
      }

      button {
        background: $blue-300;
        border: none;
        position: absolute;
        top: 0;
        right: -4px;
        height: $padding + $font-size * $line-height;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        &:hover {
          background: $blue-200;
        }

        .search-icon {
          width: auto;
          height: 100%;
          padding: 4px 0;
        }
      }
    }
  }

  .stats-overlay {
    background: rgba(black, 0.4);
    margin-top: 25px;
    #stats {
      padding-top: 40px;
      text-align: center;
    }
  }

  #stats {
    text-align: center;
    margin-bottom: 0;
    @include breakpoint-md {
      text-align: right;
    }

    padding-top: 20px;
    padding-right: 0;

    & > div {
      padding-right: 0;
    }

    .single-stat {
      text-align: center;
      display: inline-block;
      margin: 0 40px;
      .stat {
        margin-bottom: 10px;
      }
    }

    .stat {
      font-size: 90px;
      margin: 0;
      line-height: 0.8;
      font-weight: 300;
    }

    .stats-legend {
      font-size: 20px;
      @include breakpoint-md {
        &.datasets {
          margin-bottom: 40px;
        }
      }

    }
  }
}