#title {
  padding: 20px 0;
  color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  @include linear-gradient(to right, $blue, $dark-blue);

  #title-container {
    text-align: center;

    @include breakpoint-md {
      text-align: left;
    }

    h1 {
      font-size: 60px;
      font-weight: 300;
    }

    .description {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }
  #searcher {

    @include breakpoint-md {
      position: absolute;
      bottom: 0;
      left: 25px;
      padding: 0;
    }

    $md-font-size: 24px;
    $md-padding: 10px;
    $xs-font-size: 16px;
    $xs-padding: 6px;
    $line-height: 1.2;

    form {
      padding: 0;
      border: none;

      input[type="text"] {
        background: transparent;
        border: none;
        width: 100%;
        color: white;
        @include box-shadow(none);
        @include border-bottom-radius(0);
        border-bottom: solid 1px white;

        padding: $xs-padding;
        padding-right: 2em;
        font-size: $xs-font-size;
        line-height: $line-height;
        height: $xs-padding + $xs-font-size * $line-height;

        @include breakpoint-md {
          padding: $md-padding;
          padding-right: 2em;
          font-size: $md-font-size;
          line-height: $line-height;
          height: $md-padding + $md-font-size * $line-height;
        }

        @include placeholder {
          color: white;
        }
      }

      button {
        background: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        height: $xs-padding + $xs-font-size * $line-height;

        .search-icon {
          width: auto;
          height: 100%;
          padding: 4px 0;
        }
        @include breakpoint-md {
          height: $md-padding + $md-font-size * $line-height;
        }
      }
    }
  }

  #stats {
    text-align: center;
    margin-bottom: 0;
    @include breakpoint-md {
      text-align: right;
    }

    padding-top: 20px;
    padding-right: 0;

    & > div {
      padding-right: 0;
    }

    .stat {
      font-size: 90px;
      margin: 0;
      line-height: 0.8;
      font-weight: 300;
    }

    .stats-legend {
      font-size: 20px;
      @include breakpoint-md {
        &.datasets {
          margin-bottom: 40px;
        }
      }

    }
  }
}