@import '../utils/globals';
@import '../utils/mixins';
@import '../bourbon/bourbon';

#login-container {
  #login {
    @include base-container();
    h1 {
      margin: 20px 0;
      font-weight: 400;
      font-size: 40px;
    }

    @include base-form();
    form {
      label {
        width: 50%;
        padding: 5px 20px 5px 0;
        font-size: 16px;
        line-height: 1.2;
      }
      .controls {
        margin-left: 50%;
      }
    }
  }
}