#login-container {
  height: 100%;
  @include base-container();
  display: table-row;
  #login {
    display: table;
    height: 100%;
    @include base-content();
    @include base-form();

    #login-vertical-wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    form {
      width: 100%;
      @include breakpoint-sm {
        width: 600px;
      }
      margin: 0 auto;
      label {
        padding: 0;
        display: block;
        width: auto;
        margin-bottom: 10px;
      }
      .controls {
        display: block;
        margin: 0;
      }
      .checkbox {
        text-align: right;
        margin: 0;
        input {
          top: 50%;
          margin-top: -10px;
        }
      }
      .control-group {
        margin-bottom: 30px;
        &:nth-child(3) {
          margin: 0;
        }
      }
      .form-actions {
        margin: 0;
        padding: 50px 0 0 0;
        border: none;
        text-align: center;
      }

      button {
        background: $blue-300;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 300;
        padding: 12px;
        display: inline-block;
        &:hover {
          background-color: $blue-200;
        }
      }
    }
  }
}