#user-datasets-container {
  @include base-container();
  height: 100%;
  #user-datasets {
    @include base-content();
    padding: 0;
    height: 100%;

    .back-btn {
      color: $blue-300;
      margin: 20px 0;
    }

    h1 {
      color: $blue-300;
      font-size: 40px;
      font-weight: 400;
      margin: 0 0 30px 0;
    }
  }
}